<!-- Referrals panel -->
<div class="panel panel-default">
	<div class="panel-heading" role="tab" id="referrals_heading">
		<h3 class="panel-title">
			<a role="button" data-toggle="collapse" href="#referrals_collapse" aria-expanded="false" aria-controls="referrals_collapse">
				<span class="glyphicon glyphicon-plus"></span>
				Referrals
			</a>
		</h3>
	</div>
	<div class="panel-collapse collapse {{ collapse.referrals }} " id="referrals_collapse" role="tabpanel" aria-labelledby="referrals_heading">
		<div class="panel-body">
			{% if object.referral_set.exists %}
			<table class="table table-striped table-bordered table-condensed">
				<thead>
					<tr>
						<th>Name</th>
						<th>Sent date</th>
						<th>Period (days)</th>
						<th>Status</th>
						<th>Feedback</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for ref in object.referral_set.all %}
					<tr>
						<td>{{ ref.referee }}</td>
						<td>{{ ref.sent_date|date:"d-M-Y" }}</td>
						<td>{{ ref.period }}</td>
						<td>{{ ref.get_status_display }}</td>
						<td>{{ ref.feedback }}</td>
						<td>
							{% if ref.referee == user and not ref.response_date %}
							<a class="btn btn-primary btn-sm" role="button" href="{% url 'condition_create' ref.application.pk %}">Create a condition</a>
							<a class="btn btn-primary btn-sm" role="button" href="{% url 'referral_complete' ref.pk %}">Complete with feedback</a>
							{% endif %}
							{% if may_recall_resend %}
                             {% if may_recall_resend == "True" %}
			    				{% if ref.status == ref.REFERRAL_STATUS_CHOICES.referred %}
				    			<a class="btn btn-primary btn-sm" role="button" href="{% url 'referral_recall' ref.pk %}">Recall</a>
                                <a class="btn btn-primary btn-sm" role="button" href="{% url 'referral_remind' ref.pk %}">Remind</a>
						     {% endif %}
                            {% endif %}
                            {% if may_referral_delete == "True" %}
                                <a class="btn btn-primary btn-sm" role="button" href="{% url 'referral_delete' ref.pk %}">Delete</a>
                            {% endif %}
							{% comment %}
							{% if ref.status == ref.REFERRAL_STATUS_CHOICES.recalled %}
							{# TODO: Referral resend function #}
							<a class="btn btn-primary btn-sm" role="button" href="#">Resend</a>
							{% endif %}
							{% endcomment %}
							{% endif %}
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			{% else %}
			<p>None</p>
			{% endif %}
            
			{% if may_refer == "True" %}
			<a href="{% url 'application_refer' object.pk %}" class="btn btn-primary" role="button">
				Add Referral
			</a>
			{% endif %}
		</div>
	</div>
</div>


