<script>

	$("input[name=river_lease_reserve_licence]").click(function(e) {
		var value = this.value;
 		console.log(value);
                if (value == 'True') { 
			$('#div_id_river_lease_application_number').show();
		} else {
			$('#div_id_river_lease_application_number').hide();		
		}
	});

	var river_lease_application_number = $("#id_river_lease_require_river_lease_1").is(':checked');
        if (river_lease_application_number == true) { 
		 $('#div_id_river_lease_application_number').show();
	} else {
		$('#div_id_river_lease_application_number').hide();
	}
        console.log("AL:"+river_lease_application_number);

</script>
