<!-- Vessel / Craft Panel -->
<div id='vessel_and_crafts_option'>
<div class="panel panel-default" style='display:none'>
    <div class="panel-heading" role="tab" id="vessels_heading">
        <h3 class="panel-title">
            <a role="button" data-toggle="collapse" href="#vessels_collapse" aria-expanded="false" aria-controls="vessels_collapse">
                Vessel and craft details
                <span class="glyphicon collapse-glyph glyphicon-chevron-down"></span>
            </a>
        </h3>
    </div>
    <div class="panel-collapse collapse {{ collapse.vessels }}" id="vessels_collapse" role="tabpanel" aria-labelledby="vessels_heading">
        <div class="panel-body">
        </div>
    </div>
</div>

{% if may_update_vessels_list == "True"  %}
	<button class="btn btn-primary btn-sm" onclick="django_ajax_form.OpenForm('{% url 'application_add_vessel' object.pk %}');" type='button'>Add new vessel / craft</button>
{% endif %}
<div id='vessels_table'>
{% include "applications/application_vessels_table.html" %}
</div>
{% if object.vessels.exists %}
{% else %}
<p>None</p>
{% endif %}
</div>

