<script>


	function loadForm() { 
               $.ajax({
                    url: '{% url 'application_conditions_table' object.pk %}',
                    async: false,
                    success: function(data) {
                          $('#conditions_table').html(data);
                    }
               });

               $.ajax({
                    url: '{% url 'application_refer_table' object.pk %}',
                    async: false,
                    success: function(data) {
                          $('#referrals_table').html(data);
                    }
               });

	}


</script>
