            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="title_heading">
                    <h3 class="panel-title">
                        <a role="button" data-toggle="collapse" href="#certificate_commerical_acts_and_activities_collapse" aria-expanded="false" aria-controls="certificate_commerical_acts_and_activities_collapse">
                            Location
                            <span class="glyphicon collapse-glyph glyphicon-chevron-down"></span>
                        </a>
                    </h3>
                </div>
                <div class="panel-collapse collapse {{ collapse.certificate_commerical_acts_and_activities }}" id="certificate_commerical_acts_and_activities_collapse" role="tabpanel" aria-labelledby="certificate_commerical_acts_and_activities_heading">
                    <div class="panel-body">
                        <div class="col-sm-12 col-md-12 col-lg-4">
                            <div class="col-lg-12">
                                <label>Lot Number</Label>
                            </div>
                            <div class="col-lg-12">
                                {{ object.lot }}
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="col-lg-12">
                                <label>Reserve Number</Label>
                            </div>
                            <div class="col-lg-4">
                                {{ reserve_number }}
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="col-lg-12">
                                <label>Town / Suburb</Label>
                            </div>
                            <div class="col-lg-4">
                                {{ town_suburb }}
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="col-lg-12">
                                <label>Nearest road intersection</Label>
                            </div>
                            <div class="col-lg-8">
                                {{ nearest_road_intersection }}
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="col-lg-12">
                                <label>Local government authority</Label>
                            </div>
                            <div class="col-lg-8">
                                {{ local_government_authority }}
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="col-lg-12">
                                <label>Are any proposed works, acts or activities in or over waters?</Label>
                            </div>
                            <div class="col-lg-8">
                                {{ over_water }}
                            </div>
                        </div>


                    </div>
                </div>
            </div>

