{% extends "base_statdev.html" %}

{% block page_content_inner %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static "/css/applications.css" %}" />


<div class="container-fluid">
    <div class="row">
        <h1>Application for {{ object.get_app_type_display }} - {{ object.pk }}</h1>
        <br />
    </div>
<!-- Action panel start -->
    <div class="row">
        <div class="col-sm-4 col-md-3 col-lg-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Actions</h3>
                </div>
                <div class="panel-body">
                    <ul>
                        {% if may_update %}<li><a href="{% url 'application_update' object.pk %}">Update application</a></li>{% endif %}
                        {% if may_create_condition %}<li><a href="{% url 'condition_create' object.pk %}">Create a condition</a></li>{% endif %}
                        {% if may_assign_emergency %}<li><a href="{% url 'application_assign' object.pk 'assign_emergency' %}">Assign to an admin officer</a></li>{% endif %}
                        {% if may_issue %}<li><a href="{% url 'application_issue' object.pk %}">Issue/decline application</a></li>{% endif %}
                        <li><a href="{% url 'application_actions' object.pk %}">Actions log</a></li>
                        {% if may_generate_pdf %}<li><a href="{% url 'application_detail_pdf' object.pk %}">Generate a PDF</a></li>{% endif %}
                    </ul>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Submission</h3>
                </div>
                <div class="panel-body">
                    <h4>Submitted by:</h4>
                    <p>
                        {% if object.applicant.first_name %}{{ object.applicant.first_name }} {{ object.applicant.last_name }}
                        {% else %}{{ object.applicant.email }}
                        {% endif %}
                    </p>
                    <h4>Lodged on</h4>
                    <p>{{ object.submit_date|date:"d-M-Y" }}</p>
                    {% comment %}
                    <br />
                    <h4>Lodgement  Date   Action</h4>
                    {% endcomment %}
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Workflow</h3>
                </div>
                <div class="panel-body">
                    <h4>Status:</h4>
                    <p>{{ object.get_state_display }}</p>
                    <h4>Assigned to:</h4>
                    {% if object.assignee %}
                        <p>
                        {% if object.assignee.first_name %}{{ object.assignee.first_name }} {{ object.assignee.last_name }}
                        {% else %}{{ object.assignee.email }}
                        {% endif %}
                        </p>
                    {% else %}
                        <p>--</p>
                    {% endif %}
                </div>
            </div>
        </div>

<!-- Main panel start -->
        <div class="col-sm-8 col-md-9 col-lg-10">
            <!-- Holder panel -->
            <div class="panel panel-default">
                <div class="panel-heading" data-toggle="collapse" data-target="#holder_collapse">
                    <h3 class="panel-title">
                        Holder
                        <span class="glyphicon glyphicon-minus collapse-glyph"></span>
                    </h3>
                </div>
                <div class="panel-collapse collapse in" id="holder_collapse">
                    <div class="panel-body">
                        <div class="col-sm-8 col-md-6 col-lg-4">
                            <table class="table table-borderless">
                                <tr>
                                    <th>Name</th>
                                    {% if object.organisation %}
                                        <td>{{ object.organisation.name }}</td>
                                    {% elif object.applicant %}
                                        <td>{{ object.applicant.get_full_name }}</td>
                                    {% endif %}
                                </tr>
                                <tr>
                                    {% if object.organisation %}
                                        <th>ABN</th>
                                        <td>{{ object.organisation.abn }}</td>
                                    {% endif %}
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Address details panel -->
            <div class="panel panel-default">
                <div class="panel-heading" data-toggle="collapse" data-target="#address_collapse">
                    <h3 class="panel-title">
                        Address Details
                        <span class="glyphicon glyphicon-minus collapse-glyph"></span>
                    </h3>
                </div>
                <div class="panel-collapse collapse in" id="address_collapse">
                    <div class="panel-body">
                        <div class="col-sm-4 col-md-3 col-lg-3">
                            <table class="table table-borderless">
                                <tr>
                                    <th>Postal address</th>
                                    <td>{{ address.line1 }}</td>
                                </tr>
                                {% if address.line2 %}
                                <tr>
                                    <td></td>
                                    <td>{{ address.line2 }}</td>
                                </tr>
                                {% endif %}
                                <tr>
                                    <th>Town / Suburb</th>
                                    <td>{{ address.locality }}</td>
                                </tr>
                                <tr>
                                    <th>State</th>
                                    <td>{{ address.state }}</td>
                                </tr>
                                <tr>
                                    <th>Postcode</th>
                                    <td>{{ address.postcode }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Emergency works panel -->
            <div class="panel panel-default">
                <div class="panel-heading" data-toggle="collapse" data-target="#emergency_collapse">
                    <h3 class="panel-title">
                        Emergency Works
                        <span class="glyphicon glyphicon-minus collapse-glyph"></span>
                    </h3>
                </div>
                <div class="panel-collapse collapse in" id="emergency_collapse">
                    <div class="panel-body">
                        <div class="col-sm-8 col-md-6 col-lg-3">
                            <table class="table table-borderless">
                                <tr>
                                    <th>Issue Date</th>
                                    <td>{{ object.issue_date|date:"d-M-Y" }}</td>
                                </tr>
                                <tr>
                                    <th>Start Date</th>
                                    <td>{{ object.proposed_commence|date:"d-M-Y" }}</td>
                                </tr>
                                <tr>
                                    <th>Expiry Date</th>
                                    <td>{{ object.proposed_end|date:"d-M-Y" }}</td>
                                </tr>
                                <tr>
                                    <th>Emergency Works</th>
                                    <td><a href="#">EmergencyWorks.pdf</a></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Conditions panel -->
            <div class="panel panel-default">
                <div class="panel-heading" data-toggle="collapse" data-target="#conditions_collapse">
                    <h3 class="panel-title">
                        Conditions
                        <span class="glyphicon glyphicon-minus collapse-glyph"></span>
                    </h3>
                </div>
                <div class="panel-collapse collapse in" id="conditions_collapse">
                    <div class="panel-body">
                        {% if object.condition_set.exists %}
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Condition</th>
                                    <th>Due Date</th>
                                    <th>Recurrence</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for cond in object.condition_set.all %}
                                <tr>
                                    <td>{{ cond.condition }}</td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        {% if may_update_condition %}
                                            <a class="btn btn-primary btn-sm" role="button" href="{% url 'condition_update' cond.pk %}">Update</a>
                                            <a class="btn btn-danger btn-sm" role="button" href="{% url 'condition_delete' cond.pk %}">Delete</a>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% else %}
                        <p>No conditions</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock page_content_inner %}

{% block extra_js %}
{{ block.super }}
<script>
    $(function() {
        $('.collapse').on('shown.bs.collapse', function() {
            $(this).parent().find(".glyphicon-plus").removeClass("glyphicon-plus").addClass("glyphicon-minus");
        }).on('hidden.bs.collapse', function() {
            $(this).parent().find(".glyphicon-minus").removeClass("glyphicon-minus").addClass("glyphicon-plus");
        });
    });
</script>
{% endblock extra_js %}
