<!-- Referrals panel -->
<div class="panel panel-default">
	<div class="panel-heading" role="tab" id="referrals_heading">
		<h3 class="panel-title">
			<a role="button" data-toggle="collapse" href="#referrals_collapse" aria-expanded="false" aria-controls="referrals_collapse">
				<span class="glyphicon glyphicon-plus"></span>
				Referrals
			</a>
		</h3>
	</div>
	<div class="panel-collapse collapse {{ collapse.referrals }} " id="referrals_collapse" role="tabpanel" aria-labelledby="referrals_heading">
		<div class="panel-body">
			<div id='referrals_table'> 
			{% if object.referral_set.exists %}
				{% include "applications/application_referrals_table.html" %}
			{% else %}
			<p>None</p>
			{% endif %}
                        </div>
            {% if workflow_actions %} 
			{% if may_refer == "True" %}
		        <button class="btn btn-primary btn-sm" onclick="django_ajax_form.OpenForm('{% url 'application_refer' object.pk %}');" type="button">Add Referral</button>
	
			{% endif %}
            {% endif %}
		</div>
	</div>
</div>


