{% extends "base_statdev.html" %}

{% block page_content_inner %}
<h1>Application {{ object.pk }}</h1>
<p>Submitted: {{ object.submit_date|date:"d-M-Y" }}</p>
<p>Type: {{ object.get_app_type_display }}</p>
<p>Title: {{ object.title }}</p>
<p>Description: {{ object.description }}</p>
<p>Status: {{ object.get_state_display }}</p>
<p>Assignee: {{ object.assignee }}</p>

<h2>Referrals:</h2>
{% if object.referral_set.exists %}
<ul>
    {% for ref in object.referral_set.all %}
    <li>Referral {{ ref.pk }} to {{ ref.referee }}
        {% if may_refer and not ref.response_date %}
            <a href="">Remind</a> <a href="">Resend</a> <a href="">Recall</a>
        {% endif %}
        {% if ref.referee == user and not ref.response_date %}
            <a href="{% url 'condition_create' ref.application.pk %}">Create a condition</a>
            <a href="{% url 'referral_complete' ref.pk %}">Completed</a>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% else %}
<p>None</p>
{% endif %}

<h2>Conditions:</h2>
{% if object.condition_set.exists %}
<ul>
    {% for cond in object.condition_set.all %}
    <li>Condition {{ cond.pk }}: {{ cond.condition }} ({{ cond.get_status_display }}){% if cond.referral %} via {{ cond.referral.referee }}{% endif %}</li>
    {% endfor %}
</ul>
{% else %}
<p>None</p>
{% endif %}

{% comment %}
<h2>Tasks:</h2>
{% if object.task_set.exists %}
<ul>
    {% for task in object.task_set.all %}
    <li>Task {{ task.pk }} {{ task.get_task_type_display }} ({{ task.get_status_display }}) - assigned to {{ task.assignee }} <a href="{% url 'task_reassign' task.pk  %}">Reassign</a> <a href="">Complete</a></li>
    {% endfor %}
</ul>
{% else %}
<p>None</p>
{% endif %}
{% endcomment %}

<h2>Actions:</h2>
<ul>
    {# TODO: show actions greyed-out where they cannot be performed. #}
    {% if may_update %}<li><a href="{% url 'application_update' object.pk %}">Update application</a></li>{% endif %}
    {% if may_lodge %}<li><a href="{% url 'application_lodge' object.pk %}">Lodge for assessment</a></li>{% endif %}
    {% if may_refer %}<li><a href="{% url 'application_refer' object.pk %}">Refer for conditions</a></li>{% endif %}
    {% if may_create_condition %}<li><a href="{% url 'condition_create' object.pk %}">Create new condition</a></li>{% endif %}
</ul>
{% endblock %}
