{% extends "base_statdev.html" %}

{% block page_content_inner %}
<div class="container-fluid">
    <div class="row">
        <h2>Applicant</h2>
    </div>
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-5">
            <h1>Application {{ object.pk }}</h1>
            <table class="table table-bordered table-striped">
                <tr>
                    <th class="col-lg-3">Submitted:</th>
                    <td class="col-lg-3"> {{ object.submit_date|date:"d-M-Y" }}</td>
                </tr>
                <tr>
                    <th class="col-lg-3">Type:</th>
                    <td class="col-lg-3">{{ object.get_app_type_display }}</td>
                </tr>
                <tr>
                    <th class="col-lg-3">Title:</th>
                    <td class="col-lg-3">{{ object.title }}</td>
                </tr>
                <tr>
                    <th class="col-lg-3">Description:</th>
                    <td class="col-lg-3">{{ objeect.description }}</td> 
                </tr>
                <tr>
                    <th class="col-lg-3">Status:</th>
                    <td class="col-lg-3"> {{ object.state }}</td>
                </tr>
            </table>
        </div>
    </div>
</div>

<h2>Referrals:</h2>
{% if object.referral_set.exists %}
<ul>
    {% for referral in object.referral_set.all %}
    <li>Referral {{ referral.pk }} to {{ referral.referee }} <a href="">Remind</a> <a href="">Resend</a> <a href="">Recall</a></li>
    {% endfor %}
</ul>
{% else %}
<p>None</p>
{% endif %}

<h2>Tasks:</h2>
{% if object.task_set.exists %}
<ul>
    {% for task in object.task_set.all %}
    <li>Task {{ task.pk }} {{ task.get_task_type_display }} ({{ task.get_status_display }}) - assigned to {{ task.assignee }} <a href="{% url 'task_reassign' task.pk  %}">Reassign</a> <a href="">Complete</a></li>
    {% endfor %}
</ul>
{% else %}
<p>None</p>
{% endif %}

<h2>Actions:</h2>
<ul>
    {# TODO: show greyed-out actions where they cannot be performed. #}
    <li>{% if may_lodge %}<a href="{% url 'application_lodge' object.pk %}">Lodge for assessment</a>{% else %}Lodge for assessment{% endif %}</li>
    <li>{% if may_refer %}<a href="{% url 'application_refer' object.pk %}">Refer for conditions</a>{% else %}Refer for conditions{% endif %}</li>
</ul>
{% endblock %}
