<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Actions</h3>
    </div>
    <div class="panel-body">
        <h5>Communications</h5>
        <p><a href="#">Show</a> | <a href="#">Add Entry</a></p>
        <hr />
        <h5>Actions</h5>
        {# TODO: hide the Actions dropdown when no actions can be performed #}
        <ul>
        {% if workflow_actions %}

        {% for action in workflow_actions %}
            <!-- Lodge -->
            {% if action.routegroup == "lodge" %}
                {% if may_lodge == "True" %}<li><a href="{% url 'application_lodge' object.pk %}">{{ action.title }}</a></li>{% endif %}
            {% endif %}
            <!-- End Lodge -->

            <!-- Admin Officer/Processor -->
            {% if action.routegroup == "admin" %}
                {% if may_assign_processor == "True" %}<li><a href="{% url 'application_nextaction' object.pk 'admin' %}">{{ action.title }}</a></li>{% endif %}
            {% endif %}
            <!-- End Admin Officer/Processor -->

            <!-- Manager -->
            {% if action.routegroup == "manager" %}
                {% if may_submit_approval == "True" %}<li><a href="{% url 'application_nextaction' object.pk 'manager' %}">{{ action.title }}</a></li>{% endif %}
            {% endif %}
            <!-- End Manager -->

            <!-- Director -->
            {% if action.routegroup == "director" %}
                {% if may_assign_director == "True" %}<li><a href="{% url 'application_nextaction' object.pk 'director' %}">{{ action.title }}</a></li>{% endif %}
            {% endif %}
            <!-- End Director -->
            {% if action.routegroup == "exec" %}
                {% if may_assign_exec == "True" %}<li><a href="{% url 'application_nextaction' object.pk 'exec' %}">{{ action.title }}</a></li>{% endif %}
            {% endif %}

            <!-- Assessor -->
            {% if action.routegroup == "assess" %}
                {% if may_assign_assessor == "True" %}<li><a href="{% url 'application_nextaction' object.pk 'assess' %}">{{ action.title }}</a></li>{% endif %}
            {% endif %}
            <!-- Assessor -->

            <!-- Referrals -->
            {% if action.routegroup == "referral" %}
                {% if may_send_for_referral == "True" %}<li><a href="{% url 'application_nextaction' object.pk 'referral' %}">{{ action.title }}</a></li>{% endif %}
            {% endif %}

            {% if action.routegroup == "emergency" %}
            {% if may_assign_emergency %}<li><a href="{% url 'application_nextaction' object.pk 'emergency' %}">{% if action.title %}{{ action.title }}{% else %}Assign to an admin officer{% endif %}</a></li>{% endif %}
            {% endif %}
            <!-- Referrals -->
            <!-- Assign to Form Creator -->
            {% if action.routegroup == "creator" %}
                {% if may_assign_to_creator == "True" %}<li><a href="{% url 'application_nextaction' object.pk 'creator' %}">{{ action.title }}</a></li>{% endif %}
            {% endif %}
            <!-- Assign to Form Creator -->

        {% endfor %}

        {% else %}
            {% if old_actions == "True" %}
                {% if may_lodge  %}<li><a href="{% url 'application_lodge' object.pk %}">Lodge for assessment</a></li>{% endif %}
                {% if may_assign_customer %}<li><a href="{% url 'application_assign' object.pk 'customer' %}">Assign back to the customer</a></li>{% endif %}
                {% if may_assign_processor %}<li><a href="{% url 'application_assign' object.pk 'process' %}">Assign to an admin officer</a></li>{% endif %}
                {% if may_assign_assessor %}<li><a href="{% url 'application_assign' object.pk 'assess' %}">Assign to an assessor</a></li>{% endif %}
                {% if may_submit_approval  %}<li><a href="{% url 'application_assign' object.pk 'approve' %}">Send for approval (assessment completed)</a></li>{% endif %}
                {% if may_issue %}<li><a href="{% url 'application_issue' object.pk %}">Issue/decline application</a></li>{% endif %}
                {% if may_request_compliance %}<li><a href="{% url 'compliance_create' object.pk %}">Request compliance</a></li>{% endif %}
                {% if may_assign_emergency %}<li><a href="{% url 'application_assign' object.pk 'assign_emergency' %}">Assign to an admin officer</a></li>{% endif %}
                <li><a href="{% url 'application_actions' object.pk %}">Actions log</a></li>
            {% endif %}
        {% endif %}

        </ul>

        <h5>Form Options</h5>
        <ul>
        {% if workflow_actions %} 

            {% if may_update == "True" %}<li><a href="{% url 'application_update' object.pk %}">{% if formcomponent.update.title %}{{ formcomponent.update.title }}{% else %} Update application{% endif %}</a></li>{% endif %}
            {% if may_create_condition == "True" %}<li><a href="{% url 'condition_create' object.pk %}">Create a condition</a></li>{% endif %}
            {% if may_refer == "True" %}<li><a href="{% url 'application_refer' object.pk %}">Add Referral</a></li>{% endif %}
            {% if may_generate_pdf == "True" %}<li><a href="{% url 'application_detail_pdf' object.pk %}">Generate a PDF</a></li>{% endif %}

        {% else %}
            {% if old_actions == "True" %}
                {% if may_update %}<li><a href="{% url 'application_update' object.pk %}">Update application</a></li>{% endif %}
                {% if may_create_condition  %}<li><a href="{% url 'condition_create' object.pk %}">Create a condition</a></li>{% endif %}
                {% if may_refer  %}<li><a href="{% url 'application_refer' object.pk %}">Add Referral</a></li>{% endif %}
                {% if may_generate_pdf  %}<li><a href="{% url 'application_detail_pdf' object.pk %}">Generate a PDF</a></li>{% endif %}
            {% endif %}
        {% endif %}
        </ul>

        <ul>
            {% if may_assign_to_person == "True" %}
            <li><a href="{% url 'application_assign_person' object.pk %}">{% if object.assignee != None %} Reassign to Person{% else %}Assign Person{% endif %}</a></li>
            {% endif %}
        </ul>
    </div>
</div>


