<!-- Other Documents panel -->
<div class="panel panel-default">
                <div class="panel-heading" role="tab" id="prop_details_heading">
                    <h3 class="panel-title">
                        <a role="button" data-toggle="collapse" href="#certificate_of_survery_collapse" aria-expanded="false" aria-controls="certificate_of_survery_collapse">
                            <span class="glyphicon glyphicon-plus"></span>
                             Other documents
                        </a>
                    </h3>
                </div>
                <div class="panel-collapse collapse {{ collapse.certificate_of_survery }}" id="certificate_of_survery_collapse" role="tabpanel" aria-labelledby="certificate_of_survery_heading">
                    <div class="panel-body">
                         <div class="fluid-container">

                    <div class ="row">
                        <div class="col-xs-12">
                            <h4>Certificate of survey:</h4>
                            {% if object.cert_survey %}
                            <p><a href="{{ object.cert_survey.upload.url }}">{{ object.cert_survey }}</a></p>
                            {% else %}
                            <p>None</p>
                            {% endif %}
                            <h4>Public liability insurance certificate:</h4>
                            {% if object.cert_public_liability_insurance %}
                            <p><a href="{{ object.cert_public_liability_insurance.upload.url }}">{{ object.cert_public_liability_insurance }}</a></p>
                            {% else %}
                            <p>None</p>
                            {% endif %}
                            <h4>Risk management plan (if available):</h4>
                            {% if object.risk_mgmt_plan %}
                            <p><a href="{{ object.risk_mgmt_plan.upload.url }}">{{ object.risk_mgmt_plan }}</a></p>
                            {% else %}
                            <p>None</p>
                            {% endif %}
                            <h4>Safety management procedures (if available):</h4>
                            {% if object.safety_mgmt_procedures %}
                            <p><a href="{{ object.safety_mgmt_procedures.upload.url }}">{{ object.safety_mgmt_procedures }}</a></p>
                            {% else %}
                            <p>None</p>
                            {% endif %}
                            <h4>Brochures, itineraries or advertisements (if applicable):</h4>
                            {% if object.brochures_itineries_adverts.exists %}
                            <p>{% for doc in object.brochures_itineries_adverts.all %}<a href="{{ doc.upload.url }}">{{ doc }}</a><br>{% endfor %}</p>
                            {% else %}
                            <p>None</p>
                            {% endif %}
                            {% comment %}
                            <h4>Other relevant supporting documentation (if available)</h4>
                            {% if other_supporting_docs.exists %}
                            <p>{% for doc in object.other_supporting_docs.all %}
                                <a href="{{ doc.upload.url }}">{{ doc }}</a><br>
                            {% endfor %}</p>
                            {% else %}
                            <p>None</p>
                            {% endif %}
                            {% endcomment %}
                        </div>
                    </div>
                </div>
                </div>
                </div>
       </div>
</div>
