{% extends "base_statdev.html" %}

{% block page_content_inner %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static "/css/applications.css" %}" />

<div class="container-fluid">
    <div class="row">
        <h1>Application for {{ object.get_app_type_display }} - {{ object.pk }}</h1>
        <br/>
    </div>

    <!-- Action panel start -->
    <div class="row">
        {% include "applications/application_side_menu.html" %}

        <!-- Main panel start -->
        <div class="col-sm-8 col-md-9 col-lg-10">
	{% if object.state == 1 %}
		{% if object.submitter_comment|length > 1 %}
			<div class="alert alert-danger" role="alert"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><span class="sr-only">Error:</span>&nbsp;&nbsp;{{ object.submitter_comment }}</div>
		{% endif %}
	{% endif %}

            <!-- Applicant panel -->
            {% if hidden.applicant == "False" %}
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="applicant_heading">
                    <h3 class="panel-title">
                        <a role="button" data-toggle="collapse" href="#applicant_collapse" aria-expanded="false" aria-controls="application_collapse">
                            Applicant
                            <span class="glyphicon glyphicon-chevron-down collapse-glyph"></span>
                        </a>
                    </h3>
                </div>
                <div class="panel-collapse collapse {{ collapse.applicant }}" id="applicant_collapse" role="tabpanel" aria-labelledby="applicant_heading">
                    <div class="panel-body">
                    {# TODO: applicant details should only be visible to internal users. #}
                    <div class="row">
                    {% if object.organisation %}
                           {% include "applications/organisation_update_snippet.html" %}
                    {% else %}
                        {% include "applications/applicant_snippet.html" %}
                    {% endif %}
                    </div>
                    </div>
                </div>
            </div>
            {% endif %}

            {% if hidden.title == "False" %}
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="title_heading">
                    <h3 class="panel-title">
                        <a role="button" data-toggle="collapse" href="#title_collapse" aria-expanded="true" aria-controls="title_collapse">
                            Title
                            <span class="glyphicon glyphicon-chevron-down collapse-glyph"></span>
                        </a>
                    </h3>
                </div>
                <div class="panel-collapse collapse {{ collapse.title }}" id="title_collapse" role="tabpanel" aria-labelledby="title_heading">
                    <div class="panel-body">
                        <p>{{ object.title }}</p>
                    </div>
                </div>
            </div>
            {% endif %}

            {% if hidden.location == "False" %}
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="location_heading">
                    <h3 class="panel-title">
                        <a role="button" data-toggle="collapse" href="#location_collapse" aria-expanded="true" aria-controls="location_collapse">
                           Location 
                            <span class="glyphicon glyphicon-chevron-down collapse-glyph"></span>
                        </a>
                    </h3>
                </div>
                <div class="panel-collapse collapse {{ collapse.title }}" id="location_collapse" role="tabpanel" aria-labelledby="location_heading">
                    <div class="panel-body">
                      <div class='col-sm-12 col-lg-12'>
                                <div class='col-sm-12 col-lg-6'>
                                        <label>Street Number</label>
                                </div>
                                <div class='col-sm-12 col-lg-6'>
                                        {{ location.street_number_name }}
                                </div>
                      </div>

                      <div class='col-sm-12 col-lg-12'>
                                <div class='col-sm-12 col-lg-6'>
                                        <label>Lot</label>
                                </div>
                                <div class='col-sm-12 col-lg-6'>
                                        {{ location.lot }}
                                </div>
                      </div>

                      <div class='col-sm-12 col-lg-12'>
                                <div class='col-sm-12 col-lg-6'>
                                        <label>Reverse number</label>
                                </div>
                                <div class='col-sm-12 col-lg-6'>
                                        {{ location.reverse_number }}
                                </div>
                      </div>

                      <div class='col-sm-12 col-lg-12'>
                                <div class='col-sm-12 col-lg-6'>
                                        <label>Town / Suburb</label>
                                </div>
                                <div class='col-sm-12 col-lg-6'>
                                        {{ location.town_suburb }}
                                </div>
                        </div>

                      <div class='col-sm-12 col-lg-12'>
                                <div class='col-sm-12 col-lg-6'>
                                        <label>Nearest road intersection</label>
                                </div>
                                <div class='col-sm-12 col-lg-6'>
                                        {{ location.nearest_road_intersection }}
                                </div>
                        </div>

                        <div class='col-sm-12 col-lg-12'>
                                <div class='col-sm-12 col-lg-6'>
                                        <label>Local government authority</label>
                                </div>
                                <div class='col-sm-12 col-lg-6'>
                                        {{ object.local_government_authority }}
                                </div>
                        </div>

                        <div class='col-sm-12 col-lg-12'>
                                <div class='col-sm-12 col-lg-6'>
                                        <label>Are any proposed works, acts or activities in or over waters?</label>
                                </div>
                                <div class='col-sm-12 col-lg-6'>
                                        {{ object.over_water }}
                                </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}

            {% if hidden.other_information == "False" %}
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="other_informaiton_heading">
                    <h3 class="panel-title">
                        <a role="button" data-toggle="collapse" href="#other_informaiton_collapse" aria-expanded="true" aria-controls="other_informaiton_collapse">
                            Other Information
                            <span class="glyphicon glyphicon-chevron-down collapse-glyph"></span>
                        </a>
                    </h3>
                </div>
                <div class="panel-collapse collapse {{ collapse.title }}" id="other_informaiton_collapse" role="tabpanel" aria-labelledby="other_informaiton_heading">
                    <div class="panel-body">
                        <div class='col-sm-12 col-lg-12'>
                                <div class='col-sm-12 col-lg-6'>
                                        <label>Prosposed commencement date</label>
                                </div>
                                <div class='col-sm-12 col-lg-6'>
                                        {{ object.proposed_commence }}
                                </div>
                        </div>
                        <div class='col-sm-12 col-lg-12'>
                                <div class='col-sm-12 col-lg-6'>
                                        <label>Prosposed end date</label>
                                </div>
                                <div class='col-sm-12 col-lg-6'>
                                        {{ object.proposed_end }}
                                </div>
                        </div>
                        <div class='col-sm-12 col-lg-12'>
                                <div class='col-sm-12 col-lg-6'>
                                        <label>Approximate cost</label>
                                </div>
                                <div class='col-sm-12 col-lg-6'>
                                        {{ object.cost }}
                                </div>
                        </div>
                        <div class='col-sm-12 col-lg-12'>
                                <div class='col-sm-12 col-lg-6'>
                                        <label>Riverbank project number (if applicable)</label>
                                </div>
                                <div class='col-sm-12 col-lg-6'>
                                        {{ object.project_no }}
                                </div>
                        </div>
                        <div class='col-sm-12 col-lg-12'>
                                <div class='col-sm-12 col-lg-6'>
                                        <label>Details of related permits</label>
                                </div>
                                <div class='col-sm-12 col-lg-6'>
                                        {{ object.related_permits }}
                                </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}

            {% if hidden.description == "False" %}
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="description_heading">
                    <h3 class="panel-title">
                        <a role="button" data-toggle="collapse" href="#description_collapse" aria-expanded="true" aria-controls="description_collapse">
                           Description
                            <span class="glyphicon glyphicon-chevron-down collapse-glyph"></span>
                        </a>
                    </h3>
                </div>
                <div class="panel-collapse collapse {{ collapse.title }}" id="title_collapse" role="tabpanel" aria-labelledby="title_heading">
                    <div class="panel-body">
                        <div class='col-sm-12 col-lg-12'>
                                <div class='col-sm-12 col-lg-6'>
                                        <label>Description</label>
                                </div>
                                <div class='col-sm-12 col-lg-6'>
                                        {{ object.description }}
                                </div>
                        </div>
                        <div class='col-sm-12 col-lg-12'>
                                <div class='col-sm-12 col-lg-6'>
                                        <label>Proposed development plans</label>
                                </div>
                                <div class='col-sm-12 col-lg-6'>
                                {% if object.proposed_development_plans %}
                                	{% for doc in object.proposed_development_plans.all %}
		                                <div class="col-sm-12 col-md-12 col-lg-12"><A HREF='/media/{{ doc.upload }}'>{{ doc }}</A></div>
                	                {% endfor %}
                       	        {% else %}
                               		No Attachments
                                {% endif %}
                                </div>
                        </div>
                        <div class='col-sm-12 col-lg-12'>
                                <div class='col-sm-12 col-lg-6'>
                                        <label>Supporting info demonstrate compliance trust policies</label>
                                </div>
                                <div class='col-sm-12 col-lg-6'>
                                {% if object.supporting_info_demonstrate_compliance_trust_policies %}
                                <div class="col-sm-12 col-md-12 col-lg-12"><A HREF='/media/{{ object.supporting_info_demonstrate_compliance_trust_policies.upload }}'>{{ object.supporting_info_demonstrate_compliance_trust_policies }}</A></div>
                                {% else %}
                                No Attachments
                                {% endif %}
                                </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}

            <!-- Landowner Consent panel -->
            {% if hidden.landowner_consent == "False" %}
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="landowner_consent_heading">
                    <h3 class="panel-title">
                        <a role="button" data-toggle="collapse" href="#landowner_consent_collapse" aria-expanded="false" aria-controls="landowner_consent_collapse">
                            Landowner Consent
                            <span class="glyphicon glyphicon-chevron-down collapse-glyph"></span>
                        </a>
                    </h3>
                </div>
                <div class="panel-collapse collapse {{ collapse.landowner_consent }} " id="landowner_consent_collapse" role="tabpanel" aria-labelledby="landowner_consent_heading">
                    <div class="panel-body">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="col-lg-4">
                                {% if  object.land_owner_consent %}

                                {% for doc in object.land_owner_consent.all %}
                                <div class="col-sm-12 col-md-12 col-lg-12"><A HREF='/media/{{ doc.upload }}'>{{ doc }}</A></div>
                                {% endfor %}
                                {% else %}
                                No Attachments Added
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %} 


            <!-- Deed panel -->
    	    {% if hidden.deed == "False" %}
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="deed_heading">
                    <h3 class="panel-title">
                        <a role="button" data-toggle="collapse" href="#deed_collapse" aria-expanded="false" aria-controls="deed_collapse">
                            Deed
                            <span class="glyphicon glyphicon-chevron-down collapse-glyph"></span>
                        </a>
                    </h3>
                </div>
                <div class="panel-collapse collapse {{ collapse.deed }}" id="deed_collapse" role="tabpanel" aria-labelledby="deed_heading">
                    <div class="panel-body">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="col-lg-12">
                                Print <a href=''>this deed</a>, sign it and attach it to this application<BR>
                            </div>
                            <div class="col-lg-12">
                                <A HREF='/media/{{ object.deed.upload.name }}'>{{ deed_short }}</A>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}

            <!-- Referrals panel -->
            {% include "applications/application_referrals.html" %}

            <!-- Conditions panel -->
            {% include "applications/application_conditions.html" %}

        </div>
    </div>
</div>
{% endblock page_content_inner %}

{% block extra_js %}
{{ block.super }}
<script>
    $(function() {
        $('.collapse').on('shown.bs.collapse', function() {
            $(this).parent().find(".glyphicon-plus").removeClass("glyphicon-plus").addClass("glyphicon-minus");
        }).on('hidden.bs.collapse', function() {
            $(this).parent().find(".glyphicon-minus").removeClass("glyphicon-minus").addClass("glyphicon-plus");
        });
    });

function loadForm() {
               $.ajax({
                    url: '{% url 'application_conditions_table' object.pk %}',
                    async: false,
                    success: function(data) {
                          $('#conditions_table').html(data);
                    }
               });
}
</script>
{% endblock extra_js %}
