            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="stakeholder_communication_heading">
                    <h3 class="panel-title">
                        <a role="button" data-toggle="collapse" href="#stakeholder_communication_collapse" aria-expanded="false" aria-controls="stakeholder_communication_collapse">
                            Stakeholder Communication
                            <span class="glyphicon glyphicon-chevron-down collapse-glyph"></span>
                        </a>
                    </h3>
                </div>
                <div class="panel-collapse collapse {{ collapse.stakeholder_communication }}" id="stakeholder_communication_collapse" role="tabpanel" aria-labelledby="stakeholder_communication_heading">
                    <div class="panel-body">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="col-lg-12">
                                <label><u>Application</u></label>
                            </div>
                            <div class="col-lg-12">
                                <div class="col-lg-6">
                                    <label>The letter to stakeholders</label>
                                </div>
                                <div class="col-lg-6">
                                    Generated Letter.PDF
                                </div>
                            </div>
                            <div class="col-lg-12">

                                <div class="col-lg-6">
                                    <label>Emailed to</label>
                                </div>
                                <div class="col-lg-6">
                                    <div class="col-lg-12">
                                        joe@gmail.com (Jow Captian - Applicat)
                                    </div>
                                    <div class="col-lg-12">
                                        fredauthorised@agent.com (Fred Authorised - Submitter)
                                    </div>
                                    <div class="col-lg-12">
                                        example@a.com (Joe Talkback - Feedback)
                                    </div>
                                    <div class="col-lg-12">
                                        info@perth.wa.gov.au (Perth City - Referral)
                                    </div>
                                    <div class="col-lg-12">
                                        info@joon.wqa.gov.au (Joonfaloop City - Referral)
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <label><u>Draft Report</u></label>
                            </div>
                            <div class="col-lg-12">
                                <div class="col-lg-6">
                                    <label>The letter to stakeholders</label>
                                </div>
                                <div class="col-lg-6">
                                    Generated Letter.PDF
                                </div>
                            </div>
                            <div class="col-lg-12">

                                <div class="col-lg-6">
                                    <label>Emailed to</label>
                                </div>
                                <div class="col-lg-6">
                                    <div class="col-lg-12">
                                        joe@gmail.com (Jow Captian - Applicat)
                                    </div>
                                    <div class="col-lg-12">
                                        fredauthorised@agent.com (Fred Authorised - Submitter)
                                    </div>
                                    <div class="col-lg-12">
                                        example@a.com (Joe Talkback - Feedback)
                                    </div>
                                    <div class="col-lg-12">
                                        info@perth.wa.gov.au (Perth City - Referral)
                                    </div>
                                    <div class="col-lg-12">
                                        info@joon.wqa.gov.au (Joonfaloop City - Referral)
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="col-lg-6">Swan River Trust board</div> <div class="col-lg-6"> (Fred Van Dam 24/02/2017) </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <label><u>Final Report</u></label>
                            </div>
                            <div class="col-lg-12">
                                <div class="col-lg-6">
                                    <label>The letter to stakeholders</label>
                                </div>
                                <div class="col-lg-6">
                                    Generated Letter.PDF
                                </div>
                            </div>
                            <div class="col-lg-12">

                                <div class="col-lg-6">
                                    <label>Emailed to</label>
                                </div>
                                <div class="col-lg-6">
                                    <div class="col-lg-12">
                                        joe@gmail.com (Jow Captian - Applicat)
                                    </div>
                                    <div class="col-lg-12">
                                        fredauthorised@agent.com (Fred Authorised - Submitter)
                                    </div>
                                    <div class="col-lg-12">
                                        example@a.com (Joe Talkback - Feedback)
                                    </div>
                                    <div class="col-lg-12">
                                        info@perth.wa.gov.au (Perth City - Referral)
                                    </div>
                                    <div class="col-lg-12">
                                        info@joon.wqa.gov.au (Joonfaloop City - Referral)
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="col-lg-6">Swan River Trust board</div> <div class="col-lg-6"> (Fred Van Dam 24/02/2017)</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <label><u>Determination</u></label>
                            </div>
                            <div class="col-lg-12">
                                <div class="col-lg-6">
                                    <label>The letter to stakeholders</label>
                                </div>
                                <div class="col-lg-6">
                                    Generated Letter.PDF
                                </div>
                            </div>
                            <div class="col-lg-12">

                                <div class="col-lg-6">
                                    <label>Emailed to</label>
                                </div>
                                <div class="col-lg-6">
                                    <div class="col-lg-12">
                                        joe@gmail.com (Jow Captian - Applicat)
                                    </div>
                                    <div class="col-lg-12">
                                        fredauthorised@agent.com (Fred Authorised - Submitter)
                                    </div>
                                    <div class="col-lg-12">
                                        example@a.com (Joe Talkback - Feedback)
                                    </div>
                                    <div class="col-lg-12">
                                        info@perth.wa.gov.au (Perth City - Referral)
                                    </div>
                                    <div class="col-lg-12">
                                        info@joon.wqa.gov.au (Joonfaloop City - Referral)
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="col-lg-6">Swan River Trust board</div> <div class="col-lg-6"> <input type='checkbox' > Click here when done.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

