{% extends "base_statdev.html" %}

{% block page_content_inner %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static "/css/applications.css" %}" />

<div class="container-fluid">
	<div class="row">
		<h1>Application for {{ object.get_app_type_display }} - {{ object.pk }}</h1>
		<br />
	</div>
	<!-- Action panel start -->
	<div class="row">
		<div class="col-sm-4 col-md-3 col-lg-2">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Logs</h3>
				</div>
				<div class="panel-body">
					<h5>Communications</h5>
					<p><a href="#">Show</a> | <a href="#">Add Entry</a></p>
					<hr />
					<h5>Actions</h5>
					{# TODO: hide the Actions dropdown when no actions can be performed #}
					<ul>
						{% if may_update %}<li><a href="{% url 'application_update' object.pk %}">Update application</a></li>{% endif %}
						{% if may_lodge %}<li><a href="{% url 'application_lodge' object.pk %}">Lodge for assessment</a></li>{% endif %}
						{% if may_refer %}<li><a href="{% url 'application_refer' object.pk %}">Refer for conditions/feedback</a></li>{% endif %}
						{% if may_assign %}<li><a href="{% url 'application_assign' object.pk 'assess' %}">Assign to an assessor</a></li>{% endif %}
						{% if may_create_condition %}<li><a href="{% url 'condition_create' object.pk %}">Create new condition</a></li>{% endif %}
						{% if may_submit_approval %}<li><a href="{% url 'application_assign' object.pk 'approve' %}">Send for approval (assessment completed)</a></li>{% endif %}
						{% if may_issue %}<li><a href="{% url 'application_issue' object.pk %}">Issue/decline application to customer</a></li>{% endif %}
					</ul>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Submission</h3>
				</div>
				<div class="panel-body">
					<h5>Submitted by</h5>
					<p>
					{% if object.applicant.first_name %}{{ object.applicant.first_name }} {{ object.applicant.last_name }}
					{% else %}{{ object.applicant.email }}
					{% endif %}
					</p>
					<br />
					<h5>Lodged on</h5>
					<p>{{ object.submit_date|date:"d-M-Y" }}</p>
					<br />
					<h5>Logement  Date   Action</h5>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Workflow</h3>
				</div>
				<div class="panel-body">
					<h5>Status</h5>
					<p>{{ object.get_state_display }}</p>
					<h5>Assigned to</h5>
					{% if object.assignee %}
					<p>
					{% if object.assignee.first_name %}{{ object.assignee.first_name }} {{ object.assignee.last_name }}
					{% else %}{{ object.assignee.email }}
					{% endif %}
					</p>
					{% else %}
					<p>--</p>
					{% endif %}
				</div>
			</div>
		</div>
		<!-- Main panel start -->
		<div class="col-sm-8 col-md-9 col-lg-10">

            <!-- Applicant panel -->
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="applicant_heading">
                    <h3 class="panel-title">
                        <a role="button" data-toggle="collapse" href="#applicant_collapse" aria-expanded="false" aria-controls="application_collapse">
                            <span class="glyphicon glyphicon-plus"></span>
                            Applicant
                        </a>
                    </h3>
                </div>
                <div class="panel-collapse collapse" id="applicant_collapse" role="tabpanel" aria-labelledby="applicant_heading">
                    <div class="panel-body">
                        {% include "applications/applicant_snippet.html" %}
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Title</h3>
                </div>
                <div class="panel-body">
                    <p>{{ object.title }}</p>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Proposed Commercial Acts and Activites</h3>
                </div>
                <div class="panel-body">
                    <p>{{ object.description }}</p>
                </div>
            </div>

			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Certificate of Title Information</h3>
				</div>
				<div class="panel-body">
					<div class="col-sm-12 col-md-12 col-lg-4">
						<div class="col-lg-12">
							<label>Certificate of Title Volume</Label>
						</div>
						<div class="col-lg-12">
							{{ certificate_of_title_volume }}
						</div>
					</div>
					<div class="col-sm-12 col-md-12 col-lg-4">
						<div class="col-lg-12">
							<label>Folio</Label>
						</div>
						<div class="col-lg-12">
							{{ folio }}
						</div>
					</div>		
					<div class="col-sm-12 col-md-12 col-lg-4">
						<div class="col-lg-12">
							<label>Diagram / Plan / Deposit Number</Label>
						</div>
						<div class="col-lg-12">
							{{ diagram_plan_deposit_number }}
						</div>
					</div>
					<div class="col-sm-12 col-md-12 col-lg-4">
						<div class="col-lg-12">
							<label>Subject Lot Lot Number</Label>
						</div>
						<div class="col-lg-12">
							{{ lot }}
						</div>
					</div>
					<div class="col-sm-12 col-md-12 col-lg-8">
						<div class="col-lg-12">
							<label>Location</Label>
						</div>
						<div class="col-lg-12">
							{{ location }}
						</div>
					</div>

					<div class="col-sm-12 col-md-12 col-lg-12">
						<div class="col-lg-12">
							<label>Reserve Number</Label>
						</div>
						<div class="col-lg-4">
							{{ reserve_number }}
						</div>
					</div>

					<div class="col-sm-12 col-md-12 col-lg-12">
						<div class="col-lg-12">
							<label>Street Number & Name</Label>
						</div>
						<div class="col-lg-8">
							{{ street_number_and_name }}
						</div>
					</div>

					<div class="col-sm-12 col-md-12 col-lg-12">
						<div class="col-lg-12">
							<label>Town / Suburb</Label>
						</div>
						<div class="col-lg-4">
							{{ town_suburb }}
						</div>
					</div>
					<div class="col-sm-12 col-md-12 col-lg-12">
						<div class="col-lg-12">
							<label>Nearest road intersection</Label>
						</div>
						<div class="col-lg-8">
							{{ nearest_road_intersection }}
						</div>
					</div>
				</div>
			</div>	
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">River Reserve Lease (Swan and Cannning Management Act 2006 - section 29</h3>
				</div>
				<div class="panel-body">
					<div class="col-sm-12 col-md-12 col-lg-12">
						<div class="col-lg-12">
							If you intend to apply for a lease in relation to this proposed develeopment, you will need to complete a seperate Form - Application for a River reserve lease - and lodge it concurrently with this application. Note " River reserve leases will not be granted for developments requiring approval under section 70 of the Act - to which the proposed lease relates - unless that approval has been granted. 
						</div>
					</div>
					<div class="col-sm-12 col-md-12 col-lg-12">
						<div class="col-lg-12">
							<label>Does the development reqiure a River reserve lease?</Label>
						</div>
						<div class="col-lg-12">
							{% if object.river_lease_require_river_lease is True %}
                                Yes
                            {% else %}
                                No
                            {% endif %}
						</div>
					</div>
					<div class="col-sm-12 col-md-12 col-lg-12">
						<div class="col-lg-12">
							<label>If Yes, Please Attach application. (PDF)</Label>
						</div>
						<div class="col-lg-12">
						</div>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">River Reserve Lease (Swan and Cannning Management Act 2006 - section 32</h3>
				</div>
				<div class="panel-body">
					<div class="col-sm-12 col-md-12 col-lg-12">
						<div class="col-lg-12">
							based on screen shot something is surposed to go here..  but not sure what!
						</div>
					</div>
					<div class="col-sm-12 col-md-12 col-lg-12">
						<div class="col-lg-12">
							<label>Does the proposed development involve an activity in the River reserve that will require a River reserve licence?</Label>
						</div>
						<div class="col-lg-12">
							{% if object.river_lease_reserve_licence is True %} 
								Yes
							{% else %}
								No
							{% endif %}
						</div>
					</div>
					<div class="col-sm-12 col-md-12 col-lg-12">
						<div class="col-lg-12">
							<label>If Yes, Enter application number (Application must have a been successfully submitted)</Label>
						</div>
						<div class="col-lg-12">
							{{ object.river_lease_application_number }}
						</div>
					</div>

				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Details of Proposed Development</h3>
				</div>
				<div class="panel-body">
					<div class="col-sm-12 col-md-12 col-lg-12">
						<div class="col-lg-12">
							<label>Estimated cost of development (AU$)</Label>
						</div>
						<div class="col-lg-4">
							{{ object.cost }}
						</div>
					</div>
					<div class="col-sm-12 col-md-12 col-lg-12">
						<div class="col-lg-12">
							<label>Current use of land</Label>
						</div>
						<div class="col-lg-12">
							{{ object.proposed_development_current_use_of_land }}
						</div>
					</div>
					<div class="col-sm-12 col-md-12 col-lg-12">
						<div class="col-lg-12">
							<label>Proposed development</Label>
						</div>
						<div class="col-lg-12">
							 {{ object.proposed_development_e_of_land }}
						</div>
					</div>
					<div class="col-sm-12 col-md-12 col-lg-12">
						<div class="col-lg-12">
							<label>Attach a full set of plans</Label>
						</div>
						<div class="col-lg-12">
							{{ object.proposed_development_description }}
						</div>
					</div>

				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Landowner Consent</h3>
				</div>
				<div class="panel-body">
					<div class="col-sm-12 col-md-12 col-lg-12">
						<div class="col-lg-12">
							Print <a href=''>this document</a> and have it signed by each landowner (or body responsible for management.<BR><BR>
							Then attch all signed documents to this application.
						</div>
						<div class="col-lg-4">
							<input type='file' name='costofdev' >
						</div>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Deed</h3>
				</div>
				<div class="panel-body">
					<div class="col-sm-12 col-md-12 col-lg-12">
						<div class="col-lg-12">
							Print <a href=''>this deed</a>, sign it and attach it to this application<BR>
						</div>
						<div class="col-lg-4">
							<input type='file' name='costofdev' >
						</div>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Workflow - Publication</h3>
				</div>
				<div class="panel-body">
					<div class="col-sm-12 col-md-12 col-lg-12">
						<div class="col-lg-12">
							<label>Application published in newspaper </label>
						</div>
                    <div class="panel-body">
                        {% if publication_newspaper.exists %}
                        <table class="table table-bordered table-striped">
                            <tr>
									<th class="col-sm-3 col-md-3 col-lg-3">Date</th>
                                    <th class="col-sm-3 col-md-3 col-lg-3">Newspaper</th>
                                    <th class="col-sm-3 col-md-3 col-lg-3">Document(s)</th>
                                    <th class="col-sm-3 col-md-3 col-lg-3">Action</th>
                            </tr>
                            {% for newspub in publication_newspaper.all %}
                                <tr>
                                    <td>{{ newspub.date }}</td>
                                    <td>{{ newspub.newspaper }}</td>
                                    <td>
										{% if newspub.documents == None %}
                                        {% else %}
                                        {% for doc in newspub.documents.all %}
										<div class="col-sm-12">{{ doc.upload }}</div>
                                        {% endfor %}
                                        {% endif %}	

                                    <td>
											<a href="{% url 'newspaperpublication_update' newspub.pk %}" class="btn btn-primary" role="button">
                            						Edit	
    					                    </a>
											<a href="{% url 'newspaperpublication_delete' newspub.pk %}" class="btn btn-primary" role="button">
                                                    Delete
                                            </a>
									</td>
                                </tr>
                            {% endfor %}
                        </table>
                        {% else %}
                        <p>None</p>
                        {% endif %}
                        {% if may_update %}
                        <a href="{% url 'application_add_newspaperpublication' object.pk %}" class="btn btn-primary" role="button">
                          	Add News Publication 
                        </a>
                        {% endif %}

                    </div>
					</div>
				</div>


				<div class="panel-body">
					<div class="col-sm-12 col-md-12 col-lg-12">
						<div class="col-lg-8">
							<label>Application published on Department's website </label>
						</div>
						<div class="col-lg-4">
							<input type='button' value='Published 20170214' class="btn btn-primary" >
						</div>
						<div class="panel-body">
                        {% if publication_website.exists %}
                        <table class="table table-bordered table-striped">
                            <tr>
                                    <th class="col-sm-5 col-md-5 col-lg-5">Orignal Document</th>
                                    <th class="col-sm-6 col-md-6 col-lg-6">To be published document</th>
									<th class="col-sm-1 col-md-1 col-lg-1">Action</th>
                            </tr>
							{% for origdoc in original_document_list %}
								<tr>
									<td>
										<A HREF='/media/{{ origdoc.path }}'>{{ origdoc.path_short }}</A>
									</td>
									<td>
										<A HREF='/media/{{ origdoc.publish_doc }}'>{{ origdoc.publish_doc_short }}</A>
									</td>
									<td>
										<a href="{% url 'websitepublication_change' object.pk origdoc.fileid %}" class="btn btn-primary" role="button">
											          Attach / Change
				                        </a>
									</td>
								</tr>

							{% endfor %}

                            {% for webpub in publication_website.aall %}
                                <tr>
                                    <td>
                                        {% if webpub.original_document == None %}
                                        {% else %}
                                        {% for doc in webpub.original_document.all %}
											{{ doc.upload }}
										{% endfor %}
										{% endif %}
									</td>
									<td>
                                        {% if webpub.published_document == None %}
                                        {% else %}
										   {% for doc in webpub.published_document.all %}
                                              {{ doc.upload }}
                                           {% endfor %}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                        {% else %}
                        <p>None</p>
                        {% endif %}

                    </div>


					</div>
				</div>

				<div class="panel-body">
					<div class="col-sm-12 col-md-12 col-lg-12">
						<div class="col-lg-12">
							<label>Received Feedback (Draft)</label>
						</div>

						<div class="panel-body">
                        {% if publication_feedback.exists %}
                        <table class="table table-bordered table-striped">
                            <tr>
                                    <th class="col-sm-3 col-md-3 col-lg-3">Name</th>
                                    <th class="col-sm-3 col-md-3 col-lg-3">Comments</th>
                                    <th class="col-sm-3 col-md-3 col-lg-3">Documents</th>
                                    <th class="col-sm-3 col-md-3 col-lg-3">View, Edit</th>

                            </tr>
                            {% for feedpub in publication_feedback.all %}
							{% if feedpub.status == 'draft' %}
                                <tr>
                                    <td>{{ feedpub.name }}</td>
                                    <td>{{ feedpub.comments }}</td>
                                    <td>
                                        {% if feedpub.documents %}

                                        {% else %}
                                        {{ feedpub.documents }}</td>
                                        {% endif %}
										<td> <a href="{% url 'application_update_feedbackpublication' object.pk feedpub.id %}" class="btn btn-primary" role="button">
						                            Change
									         </a>
											<a href="{% url 'application_delete_feedbackpublication' object.pk feedpub.id %}" class="btn btn-primary" role="button">
                                                   Delete 
											</a>

										
										</td>
                                </tr>
							{% endif %}
                            {% endfor %}
                        </table>
                        {% else %}
                        <p>None</p>
                        {% endif %}
                        {% if may_update %}
                        <a href="{% url 'application_add_feedbackpublication_draft' object.pk 'draft' %}" class="btn btn-primary" role="button">
                            Add Feedback
                        </a>
                        {% endif %}

                    </div>




					</div>
				</div>


				<div class="panel-body">
					<div class="col-sm-12 col-md-12 col-lg-12">
						<div class="col-lg-4">                                                                                                                                                                                                                          <label>Signed copy (signed by DG) of draft report</label>
						</div>
						<div class="col-lg-4">     
							Signed Report Version 2.PDF 
						</div>
					</div>
					<div class="col-sm-12 col-md-12 col-lg-12">
						<div class="col-lg-4">
							Publish signed report on website
						</div>
						<div class="col-lg-4">
							<input type='button' value='Published 20170311' class="btn btn-primary">
						</div>

					</div>
				</div>


				<div class="panel-body">
					<div class="col-sm-12 col-md-12 col-lg-12">
						<div class="col-lg-12">
							<label>Received Feedback (Final)</label>
						</div>
					<div class="panel-body">
                        {% if publication_feedback.exists %}
                        <table class="table table-bordered table-striped">
                            <tr>
                                    <th class="col-sm-3 col-md-3 col-lg-3">Name</th>
                                    <th class="col-sm-3 col-md-3 col-lg-3">Comments</th>
                                    <th class="col-sm-3 col-md-3 col-lg-3">Documents</th>
                                    <th class="col-sm-3 col-md-3 col-lg-3">View, Edit</th>

                            </tr>
                            {% for feedpub in publication_feedback.all %}
						    {% if feedpub.status == 'final' %}
                                <tr>
                                    <td>{{ feedpub.name }}</td>
                                    <td>{{ feedpub.comments }}</td>
                                    <td>
                                        {% if feedpub.documents %}

                                        {% else %}
                                        {{ feedpub.documents }}</td>
                                        {% endif %}
                                    <td>
										<a href="{% url 'application_update_feedbackpublication' object.pk feedpub.id %}" class="btn btn-primary" role="button">
                                            Change
                                        </a>
                                        <a href="{% url 'application_delete_feedbackpublication' object.pk feedpub.id %}" class="btn btn-primary" role="button">
                                            Delete
                                        </a>
									</td>
                                </tr>
								{% endif %}
                            {% endfor %}
                        </table>
                        {% else %}
                        <p>None</p>
                        {% endif %}
                        {% if may_update %}
                        <a href="{% url 'application_add_feedbackpublication_final' object.pk 'final' %}" class="btn btn-primary" role="button">
                            Add Feedback
                        </a>
                        {% endif %}



				</div>
					</div>
				</div>


				<div class="panel-body">
					<div class="col-sm-12 col-md-12 col-lg-12">
						<div class="col-lg-4">                                                                                                                                                                                                                          <label>Signed copy (signed by DG) of final report</label>
						</div>
						<div class="col-lg-4">
							Signed Report Version 3.PDF
						</div>
					</div>
					<div class="col-sm-12 col-md-12 col-lg-12">
						<div class="col-lg-4">
							Publish signed report on website
						</div>
						<div class="col-lg-4">
							<input type='button' value='Published 20170311' class="btn btn-primary">
						</div>

					</div>
				</div>

			</div>

			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Workflow - Stakeholder Communication</h3>
				</div>
				<div class="panel-body">
					<div class="col-sm-12 col-md-12 col-lg-12">
						<div class="col-lg-12">
							<label><u>Application</u></label>
						</div>
						<div class="col-lg-12">
							<div class="col-lg-6">
								<label>The letter to stakeholders</label> 
							</div>
							<div class="col-lg-6">
								Generated Letter.PDF
							</div>
						</div>
						<div class="col-lg-12">

							<div class="col-lg-6">
								<label>Emailed to</label>
							</div>
							<div class="col-lg-6">
								<div class="col-lg-12">
									joe@gmail.com (Jow Captian - Applicat)
								</div>
								<div class="col-lg-12">
									fredauthorised@agent.com (Fred Authorised - Submitter)
								</div>
								<div class="col-lg-12">
									example@a.com (Joe Talkback - Feedback) 
								</div>
								<div class="col-lg-12">
									info@perth.wa.gov.au (Perth City - Referral)
								</div>
								<div class="col-lg-12">
									info@joon.wqa.gov.au (Joonfaloop City - Referral)
								</div>
							</div>
						</div>
		
						<div class="col-lg-12">
                            <label><u>Draft Report</u></label>
                        </div>
                        <div class="col-lg-12">
                            <div class="col-lg-6">
                                <label>The letter to stakeholders</label>
                            </div>
                            <div class="col-lg-6">
                                Generated Letter.PDF
                            </div>
                        </div>
                        <div class="col-lg-12">

                            <div class="col-lg-6">
                                <label>Emailed to</label>
                            </div>
                            <div class="col-lg-6">
                                <div class="col-lg-12">
                                    joe@gmail.com (Jow Captian - Applicat)
                                </div>
                                <div class="col-lg-12">
                                    fredauthorised@agent.com (Fred Authorised - Submitter)
                                </div>
                                <div class="col-lg-12">
                                    example@a.com (Joe Talkback - Feedback)
                                </div>
                                <div class="col-lg-12">
                                    info@perth.wa.gov.au (Perth City - Referral)
                                </div>
                                <div class="col-lg-12">
                                    info@joon.wqa.gov.au (Joonfaloop City - Referral)
                                </div>
                                <div class="col-lg-12">
                                    <div class="col-lg-6">Swan River Trust board</div> <div class="col-lg-6"> (Fred Van Dam 24/02/2017) </div>
                                </div>
                            </div>
                        </div>

						<div class="col-lg-12">
                            <label><u>Final Report</u></label>
                        </div>
                        <div class="col-lg-12">
                            <div class="col-lg-6">
                                <label>The letter to stakeholders</label>
                            </div>
                            <div class="col-lg-6">
                                Generated Letter.PDF
                            </div>
                        </div>
                        <div class="col-lg-12">

                            <div class="col-lg-6">
                                <label>Emailed to</label>
                            </div>
                            <div class="col-lg-6">
                                <div class="col-lg-12">
                                    joe@gmail.com (Jow Captian - Applicat)
                                </div>
                                <div class="col-lg-12">
                                    fredauthorised@agent.com (Fred Authorised - Submitter)
                                </div>
                                <div class="col-lg-12">
                                    example@a.com (Joe Talkback - Feedback)
                                </div>
                                <div class="col-lg-12">
                                    info@perth.wa.gov.au (Perth City - Referral)
                                </div>
                                <div class="col-lg-12">
                                    info@joon.wqa.gov.au (Joonfaloop City - Referral)
                                </div>
                                <div class="col-lg-12">
                                    <div class="col-lg-6">Swan River Trust board</div> <div class="col-lg-6"> (Fred Van Dam 24/02/2017)</div>
                                </div>
                            </div>
                        </div>

						<div class="col-lg-12">
                            <label><u>Determination</u></label>
                        </div>
                        <div class="col-lg-12">
                            <div class="col-lg-6">
                                <label>The letter to stakeholders</label>
                            </div>
                            <div class="col-lg-6">
                                Generated Letter.PDF
                            </div>
                        </div>
                        <div class="col-lg-12">

                            <div class="col-lg-6">
                                <label>Emailed to</label>
                            </div>
                            <div class="col-lg-6">
                                <div class="col-lg-12">
                                    joe@gmail.com (Jow Captian - Applicat)
                                </div>
                                <div class="col-lg-12">
                                    fredauthorised@agent.com (Fred Authorised - Submitter)
                                </div>
                                <div class="col-lg-12">
                                    example@a.com (Joe Talkback - Feedback)
                                </div>
                                <div class="col-lg-12">
                                    info@perth.wa.gov.au (Perth City - Referral)
                                </div>
                                <div class="col-lg-12">
                                    info@joon.wqa.gov.au (Joonfaloop City - Referral)
                                </div>
                                <div class="col-lg-12">
                                    <div class="col-lg-6">Swan River Trust board</div> <div class="col-lg-6"> <input type='checkbox' > Click here when done.</div>
                                </div>
                            </div>
                        </div>	
					</div>
				</div>
			</div>


			<!-- Referrals panel -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Referrals</h3>
				</div>
				<div class="panel-body">
					{% if object.referral_set.exists %}
					<table class="table table-striped table-bordered table-condensed">
						<thead>
							<tr>
								<th>Email</th>
								<th>Sent date</th>
								<th>Period (days)</th>
								<th>Status</th>
								<th>Feedback</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
							{% for ref in object.referral_set.all %}
							<tr>
								<td>{{ ref.referee.email }}</td>
								<td>{{ ref.sent_date|date:"d-M-Y" }}</td>
								<td>{{ ref.period }}</td>
								<td>{{ ref.get_status_display }}</td>
								<td>{{ ref.feedback }}</td>
								<td>
									{% if ref.referee == user and not ref.response_date %}
									<a href="{% url 'condition_create' ref.application.pk %}">Create a condition</a>
									<a href="{% url 'referral_complete' ref.pk %}">Complete with feedback</a>
									{% endif %}
									{% if may_recall_resend %}
									{% if ref.status == ref.REFERRAL_STATUS_CHOICES.referred %}
									<a href="{% url 'referral_recall' ref.pk %}">Recall</a>
									{% endif %}
									{% if ref.feedback %}
									Resend
									{% endif %}
									{% endif %}
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
					{% else %}
					<p>None</p>
					{% endif %}
				</div>
			</div>


			<!-- Workflow - Assessment -->

				<div class="panel panel-default">
	                <div class="panel-heading">
                	    <h3 class="panel-title">Workflow - Assessment</h3>
            	    </div>
					<div class="panel-body">
								
							<div class="col-sm-12 col-md-12 col-lg-12">
	                        <div class="col-lg-12">
    	                        <label><u>Draft Report</u></label>
        	                </div>
							<div class="col-lg-12">
										<div class="col-lg-6">
											Current Version of Report
										</div>
										<div class="col-lg-6">
											Assessment Report.PDF
										</div>
							</div>


							</div>

							<div class="col-lg-12">
									<label>	Proposed conditions from referrals</label>
							</div>
							<div class="col-lg-12">
									<input type='button' value='Add Condition' class="btn btn-primary" >
	
							</div>

							<div class="col-lg-12">
										<table class="table table-bordered table-striped">                                                                                                                                                                                       <tr>
                                    <th class="col-sm-3 col-md-3 col-lg-3">Condition</th>
                                    <th class="col-sm-3 col-md-3 col-lg-3">Due Date</th>
                                    <th class="col-sm-3 col-md-3 col-lg-3">Recurrence</th>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td></td>
                                    <td></td>
                                </tr>
								<tr>
                                    <td>&nbsp;</td>
                                    <td></td>
                                    <td></td>
                                </tr>
								<tr>
                                    <td>&nbsp;</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </table>
	

							</div>
							<div class="col-lg-12">
									<div class="col-lg-3">
                                    <label> Start Date</label>
		                            </div>
									<div class="col-lg-9">
                                    	<input type='text' value=''>
                                    </div>
							</div>
							<div class="col-lg-12">
									<div class="col-lg-12">
		                               <label><u>Draft Report after public consultation</u></label>
		                            </div>
									<div class="col-lg-12">
										<div class="col-lg-6">
											Draft Report after public consultation
										</div>
										<div class="col-lg-6">
											<A HREF=''>Assessment Report Version 3.PDF</A>
										</div>

									</div>

							</div>	

							<div class="col-lg-12">
                                    <div class="col-lg-12">
                                       <label><u>Determination and Breifing Note</u></label>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="col-lg-6">
                                            Determination
                                        </div>
                                        <div class="col-lg-6">
                                            <A HREF=''>Attach document</A>
                                        </div>
	
                                    </div>
									<div class="col-lg-12">
                                        <div class="col-lg-6">
                                           	Briefing Note 
                                        </div>
                                        <div class="col-lg-6">
                                            <A HREF=''>Attach document</A>
                                        </div>

                                    </div>


                            </div>
	


					</div>		


				</div>
	


			<!-- Conditions panel -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Conditions</h3>
				</div>
				<div class="panel-body">
					{% if object.condition_set.exists %}
					<ul>
						{% for cond in object.condition_set.all %}
						<li>Condition {{ cond.pk }}: {{ cond.condition }} ({{ cond.get_status_display }})
							{% if cond.referral %} via {{ cond.referral.referee }}{% endif %}</li>
						{% endfor %}
					</ul>
					{% else %}
					<p>None</p>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock page_content_inner %}
