<table class="table table-bordered table-striped">
    <tr>
        <th>Nominated vessel</th>
        <th>Vessel ID</th>
        <th>Hire and drive registration</th>
        <th>Size (m)</th>
        <th>Engine (kW)</th>
        <th>Passenger capacity</th>
        <th></th>
    </tr>
    {% for vessel in object.vessels.all %}
    <tr>
        <td>{{ vessel.name }}</td>
        <td>{{ vessel.vessel_id }}</td>
        <td>
            {% if vessel.registration.exists %}
            {% for doc in vessel.registration.all %}<a href="{{ doc.upload.url }}">{{ doc }}</a><br>{% endfor %}
            {% endif %}
        </td>
        <td>{% if vessel.size %}{{ vessel.size }}{% endif %}</td>
        <td>{% if vessel.engine %}{{ vessel.engine }}{% endif %}</td>
        <td>{% if vessel.passenger_capacity %}{{ vessel.passenger_capacity }}{% endif %}</td>
        <td>
            {% if may_update_vessels_list == "True" %}
	    <button class="btn btn-primary btn-sm" onclick="django_ajax_form.OpenForm('{% url 'vessel_update' vessel.pk %}');" type='button'>Update</button>
            <button class="btn btn-primary btn-sm" onclick="django_ajax_form.OpenForm('{% url 'vessel_delete' vessel.pk %}');" type='button'>Delete</button>

            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
