{% extends "base_statdev.html" %}

{% block page_content_inner %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static "/css/applications.css" %}" />

<div class="container-fluid">
    <div class="row">
        <h1>Application for {{ object.get_app_type_display }} - {{ object.pk }}</h1>
        <br />
    </div>
    <!-- Action panel start -->
    <div class="row">
            {% include "applications/application_side_menu.html" %}
        <!-- Main panel start -->
        <div class="col-sm-8 col-md-9 col-lg-10">

            <!-- Applicant panel -->
            {% if hidden.applicant == "False" %}
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="applicant_heading">
                    <h3 class="panel-title">
                        <a role="button" data-toggle="collapse" href="#applicant_collapse" aria-expanded="false" aria-controls="application_collapse">
                            <span class="glyphicon glyphicon-plus"></span>
                            Applicant
                        </a>
                    </h3>
                </div>
                <div class="panel-collapse collapse {{ collapse.applicant }}" id="applicant_collapse" role="tabpanel" aria-labelledby="applicant_heading">
                    <div class="panel-body">
                        {% include "applications/applicant_snippet.html" %}
                    </div>
                </div>
            </div>
            {% endif %}
            {% if hidden.title == "False" %}
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="title_heading">
                    <h3 class="panel-title">
                        <a role="button" data-toggle="collapse" href="#title_collapse" aria-expanded="true" aria-controls="title_collapse">
                            <span class="glyphicon glyphicon-plus"></span>
                            Title 
                        </a>
                    </h3>
                </div>
                <div class="panel-collapse collapse {{ collapse.title }}" id="title_collapse" role="tabpanel" aria-labelledby="title_heading">
                    <div class="panel-body">
                        <p>{{ object.title }}</p>
                    </div>
                </div>
            </div>
            {% endif %}

            {% if hidden.proposed_activities == "False" %}
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="title_heading">
                    <h3 class="panel-title">
                        <a role="button" data-toggle="collapse" href="#proposed_activities_collapse" aria-expanded="false" aria-controls="proposed_activities_collapse">
                            <span class="glyphicon glyphicon-plus"></span>
                            Proposed Commercial Acts and Activites 
                        </a>
                    </h3>
                </div>	
                <div class="panel-collapse collapse {{ collapse.proposed_activities }} " id="proposed_activities_collapse" role="tabpanel" aria-labelledby="proposed_activities_heading">
                    <div class="panel-body">
                        <p>{{ object.description }}</p>
                    </div>
                </div>
            </div>
            {% endif %}

            {% if hidden.certificate_commerical_acts_and_activities == "False" %}
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="title_heading">
                    <h3 class="panel-title">
                        <a role="button" data-toggle="collapse" href="#certificate_commerical_acts_and_activities_collapse" aria-expanded="false" aria-controls="certificate_commerical_acts_and_activities_collapse">
                            <span class="glyphicon glyphicon-plus"></span>
                            Certificate of Title Information
                        </a>
                    </h3>
                </div>
                <div class="panel-collapse collapse {{ collapse.certificate_commerical_acts_and_activities }}" id="certificate_commerical_acts_and_activities_collapse" role="tabpanel" aria-labelledby="certificate_commerical_acts_and_activities_heading">
                    <div class="panel-body">
                        <div class="col-sm-12 col-md-12 col-lg-4">
                            <div class="col-lg-12">
                                <label>Certificate of Title Volume</Label>
                            </div>
                            <div class="col-lg-12">
                                {{ certificate_of_title_volume }}
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-4">
                            <div class="col-lg-12">
                                <label>Folio</Label>
                            </div>
                            <div class="col-lg-12">
                                {{ folio }}
                            </div>
                        </div>		
                        <div class="col-sm-12 col-md-12 col-lg-4">
                            <div class="col-lg-12">
                                <label>Diagram / Plan / Deposit Number</Label>
                            </div>
                            <div class="col-lg-12">
                                {{ diagram_plan_deposit_number }}
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-4">
                            <div class="col-lg-12">
                                <label>Subject Lot Lot Number</Label>
                            </div>
                            <div class="col-lg-12">
                                {{ lot }}
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-8">
                            <div class="col-lg-12">
                                <label>Location</Label>
                            </div>
                            <div class="col-lg-12">
                                {{ location }}
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="col-lg-12">
                                <label>Reserve Number</Label>
                            </div>
                            <div class="col-lg-4">
                                {{ reserve_number }}
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="col-lg-12">
                                <label>Street Number & Name</Label>
                            </div>
                            <div class="col-lg-8">
                                {{ street_number_and_name }}
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="col-lg-12">
                                <label>Town / Suburb</Label>
                            </div>
                            <div class="col-lg-4">
                                {{ town_suburb }}
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="col-lg-12">
                                <label>Nearest road intersection</Label>
                            </div>
                            <div class="col-lg-8">
                                {{ nearest_road_intersection }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>	
            {% endif %}

            {% if hidden.river_reserve_lease_section_29 == "False" %}
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="river_reserve_lease_section_29_heading">
                    <h3 class="panel-title">
                        <a role="button" data-toggle="collapse" href="#river_reserve_lease_section_29_collapse" aria-expanded="false" aria-controls="river_reserve_lease_section_29_collapse">
                            <span class="glyphicon glyphicon-plus"></span>
                            River Reserve Lease (Swan and Cannning Management Act 2006 - section 29
                        </a>
                    </h3>
                </div>
                <div class="panel-collapse collapse {{ collapse.river_reserve_lease_section_29 }}" id="river_reserve_lease_section_29_collapse" role="tabpanel" aria-labelledby="river_reserve_lease_section_29_heading">
                    <div class="panel-body">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="col-lg-12">
                                If you intend to apply for a lease in relation to this proposed develeopment, you will need to complete a seperate Form - Application for a River reserve lease - and lodge it concurrently with this application. Note " River reserve leases will not be granted for developments requiring approval under section 70 of the Act - to which the proposed lease relates - unless that approval has been granted. 
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="col-lg-12">
                                <label>Does the development reqiure a River reserve lease?</Label>
                            </div>
                            <div class="col-lg-12">
                                {% if object.river_lease_require_river_lease is True %}
                                Yes
                                {% else %}
                                No
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="col-lg-12">
                                <label>If Yes, Please Attach application. (PDF)</Label>
                            </div>
                            <div class="col-lg-12">
                                {% if object.river_lease_scan_of_application %}
                                <A HREF='/media/{{ object.river_lease_scan_of_application.upload.name }}'>{{ river_lease_scan_of_application_short }}</A>
                                {% else %}
                                No Attachment Added
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}

            {% if hidden.river_reserve_lease_section_32 == "False" %}
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="river_reserve_lease_section_32_heading">
                    <h3 class="panel-title">
                        <a role="button" data-toggle="collapse" href="#river_reserve_lease_section_32_collapse" aria-expanded="false" aria-controls="river_reserve_lease_section_32_collapse">
                            <span class="glyphicon glyphicon-plus"></span>
                            River Reserve Lease (Swan and Cannning Management Act 2006 - section 32
                        </a>
                    </h3>
                </div>
                <div class="panel-collapse collapse {{ collapse.river_reserve_lease_section_32 }}" id="river_reserve_lease_section_32_collapse" role="tabpanel" aria-labelledby="river_reserve_lease_section_32_heading">
                    <div class="panel-body">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="col-lg-12">
                                based on screen shot something is surposed to go here..  but not sure what!
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="col-lg-12">
                                <label>Does the proposed development involve an activity in the River reserve that will require a River reserve licence?</Label>
                            </div>
                            <div class="col-lg-12">
                                {% if object.river_lease_reserve_licence is True %} 
                                Yes
                                {% else %}
                                No
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="col-lg-12">
                                <label>If Yes, Enter application number (Application must have a been successfully submitted)</Label>
                            </div>
                            <div class="col-lg-12">
                                {% if object.river_lease_application_number %}
                                {{ object.river_lease_application_number }}
                                {% else %}
                                <i>No Application Number</i>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% if hidden.details_of_proposed_development == "False" %}
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="details_of_proposed_development_heading">
                    <h3 class="panel-title">
                        <a role="button" data-toggle="collapse" href="#details_of_proposed_development_collapse" aria-expanded="false" aria-controls="details_of_proposed_development_collapse">
                            <span class="glyphicon glyphicon-plus"></span>
                            Details of Proposed Development 
                        </a>
                    </h3>
                </div>
                <div class="panel-collapse collapse {{ collapse.details_of_proposed_development }}" id="details_of_proposed_development_collapse" role="tabpanel" aria-labelledby="details_of_proposed_development_heading">
                    <div class="panel-body">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="col-lg-12">
                                <label>Estimated cost of development (AU$)</Label>
                            </div>
                            <div class="col-lg-4">
                                {{ object.cost }}
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="col-lg-12">
                                <label>Current use of land</Label>
                            </div>
                            <div class="col-lg-12">
                                {{ object.proposed_development_current_use_of_land }}
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="col-lg-12">
                                <label>Proposed development</Label>
                            </div>
                            <div class="col-lg-12">
                                {{ object.proposed_development_description }}
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="col-lg-12">
                                <label>Attach a full set of plans</Label>
                            </div>
                            <div class="col-lg-12">
                                {% if proposed_development_plans_list %}

                                {% for doc in proposed_development_plans_list %}
                                <div class="col-sm-12 col-md-12 col-lg-12"><A HREF='/media/{{ doc.path }}'>{{ doc.path_short }}</A></div>
                                {% endfor %}
                                {% else %}
                                No Attachments
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% if hidden.landowner_consent == "False" %}
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="landowner_consent_heading">
                    <h3 class="panel-title">
                        <a role="button" data-toggle="collapse" href="#landowner_consent_collapse" aria-expanded="false" aria-controls="landowner_consent_collapse">
                            <span class="glyphicon glyphicon-plus"></span>
                            Landowner Consent 
                        </a>
                    </h3>
                </div>
                <div class="panel-collapse collapse {{ collapse.landowner_consent }} " id="landowner_consent_collapse" role="tabpanel" aria-labelledby="landowner_consent_heading">
                    <div class="panel-body">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="col-lg-12">
                                Print <a href=''>this document</a> and have it signed by each landowner (or body responsible for management.<BR><BR>
                                <label>Attached signed documents to this application.</label>
                            </div>
                            <div class="col-lg-4">
                                {% if land_owner_consent_list %}

                                {% for doc in land_owner_consent_list %}
                                <div class="col-sm-12 col-md-12 col-lg-12"><A HREF='/media/{{ doc.path }}'>{{ doc.path_short }}</A></div>
                                {% endfor %}
                                {% else %}
                                No Attachments Added
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% if hidden.deed == "False" %}
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="deed_heading">
                    <h3 class="panel-title">
                        <a role="button" data-toggle="collapse" href="#deed_collapse" aria-expanded="false" aria-controls="deed_collapse">
                            <span class="glyphicon glyphicon-plus"></span>
                            Deed 
                        </a>
                    </h3>
                </div>
                <div class="panel-collapse collapse {{ collapse.deed }}" id="deed_collapse" role="tabpanel" aria-labelledby="deed_heading">
                    <div class="panel-body">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="col-lg-12">
                                Print <a href=''>this deed</a>, sign it and attach it to this application<BR>
                            </div>
                            <div class="col-lg-12">
                                <A HREF='/media/{{ object.deed.upload.name }}'>{{ deed_short }}</A>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}

            {% if hidden.publication == "False" %}
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="publication_heading">
                    <h3 class="panel-title">
                        <a role="button" data-toggle="collapse" href="#publication_collapse" aria-expanded="false" aria-controls="publication_collapse">
                            <span class="glyphicon glyphicon-plus"></span>
                            Publication 
                        </a>
                    </h3>
                </div>
                <div class="panel-collapse collapse {{ collapse.publication }}" id="publication_collapse" role="tabpanel" aria-labelledby="publication_heading">
                    <div class="panel-body">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="col-lg-12">
                                <label>Application published in newspaper </label>
                            </div>
                            <div class="panel-body">
                                <table class="table table-bordered table-striped">
                                    <tr>
                                        <th class="col-sm-3 col-md-3 col-lg-3">Date</th>
                                        <th class="col-sm-3 col-md-3 col-lg-3">Newspaper</th>
                                        <th class="col-sm-3 col-md-3 col-lg-3">Document(s)</th>
                                        <th class="col-sm-3 col-md-3 col-lg-3">Action</th>
                                    </tr>
                                    {% if publication_newspaper %}
                                    {% for newspub in publication_newspaper_list %}
                                    <tr>
                                        <td>{{ newspub.date }}</td>
                                        <td>{{ newspub.newspaper }}</td>
                                        <td>
                                            {% if newspub.documents_short == None %}
                                            {% else %}
                                            {% for doc in newspub.documents_short %}
                                            <div class="col-sm-12"><A href='/media/{{ doc.path }}'>{{ doc.path_short }}</a></div>
                                            {% endfor %}
                                            {% endif %}	
                                            <td>
                                                {% if may_update_publication_newspaper == "True" %}
                                                <a href="{% url 'newspaperpublication_update' newspub.pk %}" class="btn btn-primary" role="button">
                                                    Edit	
                                                </a>
                                                <a href="{% url 'newspaperpublication_delete' newspub.pk %}" class="btn btn-primary" role="button">
                                                    Delete
                                                </a>
                                                {% endif %}
                                            </td>
                                    </tr>
                                    {% endfor %}
                                    {% endif %}

                                </table>
                                {% if may_update_publication_newspaper == "True" %}
                                <a href="{% url 'application_add_newspaperpublication' object.pk %}" class="btn btn-primary" role="button">
                                    Add News Publication 
                                </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="panel-body">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="col-lg-10">
                                <label>Application published on Department's website </label>
                            </div>
                            <div class="col-lg-2 align-right text-right">
                                <td>
                                    {% if object.publish_documents %}
                                    <a href="javascript:void();" class="btn btn-primary" role="button">

                                        Published {% if object.publish_documents %} on the {{ object.publish_documents }} {% endif %}
                                    </a>
                                    {% else %}
                                        {% if may_publish_website == "True" %}
                                        <a href="{% url 'application_publish_documents' object.pk 'documents' %}" class="btn btn-primary" role="button">
                                            Publish
                                        </a>
                                        {% endif %}
                                    {% endif %}
                                </td>
                            </div>
                            <div class="panel-body">
                                <table class="table table-bordered table-striped">
                                    <tr>
                                        <th class="col-sm-5 col-md-5 col-lg-5">Orignal Document</th>
                                        <th class="col-sm-6 col-md-6 col-lg-6">To be published document</th>
                                        {% if may_update_publication_website == "True" %}
                                        <th class="col-sm-1 col-md-1 col-lg-1">Action</th>
                                        {% endif %}
                                    </tr>
                                    {% if original_document_list %}
                                    {% for origdoc in original_document_list %}
                                    <tr>
                                        <td>
                                            <div class='col-sm-12 col-md-12 col-lg-12'>
                                                <h6 class='text-muted'>{{ origdoc.group_name }}</h6>
                                            </div>
                                            <div class='col-sm-12 col-md-12 col-lg-12'>
                                                <A HREF='/media/{{ origdoc.path }}'>{{ origdoc.path_short }}</A>
                                            </div>
                                        </td>
                                        <td>
                                            <A HREF='/media/{{ origdoc.publish_doc }}'>{{ origdoc.publish_doc_short }}</A>
                                        </td>
                                        {% if may_update_publication_website == "True" %}
                                        <td>
                                            <a href="{% url 'websitepublication_change' object.pk origdoc.fileid %}" class="btn btn-primary" role="button">
                                                Attach / Change
                                            </a>
                                        </td>
                                        {% endif %}
                                    </tr>

                                    {% endfor %}
                                    <!-- to remove once above loop contains all original documents -->
                                    {% for webpub in publication_website.aall %}
                                    <tr>
                                        <td>
                                            {% if webpub.original_document == None %}
                                            {% else %}
                                            {% for doc in webpub.original_document.all %}
                                            {{ doc.upload }}
                                            {% endfor %}
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if webpub.published_document == None %}
                                            {% else %}
                                            {% for doc in webpub.published_document.all %}
                                            {{ doc.upload }}
                                            {% endfor %}
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    {% endif %}
                                    <!-- end  of loop -->
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="panel-body">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="col-lg-12">
                                <label>Received Feedback (Draft)</label>
                            </div>

                            <div class="panel-body">
                                {% if publication_feedback %}
                                <table class="table table-bordered table-striped">
                                    <tr>
                                        <th class="col-sm-3 col-md-3 col-lg-3">Name</th>
                                        <th class="col-sm-3 col-md-3 col-lg-3">Comments</th>
                                        <th class="col-sm-3 col-md-3 col-lg-3">Documents</th>
                                        <th class="col-sm-3 col-md-3 col-lg-3">View, Edit</th>

                                    </tr>
                                    {% for feedpub in publication_feedback %}
                                    {% if feedpub.status == 'draft' %}
                                    <tr>
                                        <td>{{ feedpub.name }}</td>
                                        <td>{{ feedpub.comments }}</td>
                                        <td>
                                            {% for doc in feedpub.documents_short %}
                                            <div class="col-sm-12 col-md-12 col-lg-12">
                                                <a href="/media/{{ doc.path }}">{{ doc.path_short }}</a>
                                            </div>
                                            {% endfor %}
                                        </td>
                                        <td>
                                            {% if may_update_publication_feedback_draft == "True" %} 
                                            <a href="{% url 'application_update_feedbackpublication' object.pk feedpub.id %}" class="btn btn-primary" role="button">
                                                Change
                                            </a>
                                            <a href="{% url 'application_delete_feedbackpublication' object.pk feedpub.id %}" class="btn btn-primary" role="button">
                                                Delete 
                                            </a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endif %}
                                    {% endfor %}
                                </table>
                                {% else %}
                                <p>None</p>
                                {% endif %}
                                {% if may_update_publication_feedback_draft == "True" %}
                                <a href="{% url 'application_add_feedbackpublication_draft' object.pk 'draft' %}" class="btn btn-primary" role="button">
                                    Add Feedback
                                </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>


                    <div class="panel-body">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="col-lg-4">                                                                                                                                                                                                                          <label>Signed copy (signed by DG) of draft report</label>
                            </div>
                            <div class="col-lg-4"> 
                                {% if object.document_final.upload.name %}
                                <A HREF='/media/{{ object.document_final.upload.name }}'>Signed Document.pdf</A>
                                {% else %}
                                No Attachment
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="col-lg-10">
                                Publish signed report on website
                            </div>
                            <div class="col-lg-2 align-right text-right">
                                <td>
                                    {% if object.publish_draft_report %}
                                    <a href="javascript:void();" class="btn btn-primary" role="button">
                                        Published on the {{ object.publish_draft_report }}
                                    </a>
                                    {% else %}
                                    {% if may_update_publication_feedback_final == "True" %}
                                    <a href="{% url 'application_publish_documents' object.pk 'draft' %}" class="btn btn-primary" role="button">
                                        Publish 
                                    </a>
                                    {% endif %}
                                    {% endif %}
                                </td>

                            </div>
                        </div>
                    </div>
                    {% if hidden.publication_feedback_final == "False" %}
                    <div class="panel-body">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="col-lg-12">
                                <label>Received Feedback (Final)</label>
                            </div>
                            <div class="panel-body">
                                {% if publication_feedback %}
                                <table class="table table-bordered table-striped">
                                    <tr>
                                        <th class="col-sm-3 col-md-3 col-lg-3">Name</th>
                                        <th class="col-sm-3 col-md-3 col-lg-3">Comments</th>
                                        <th class="col-sm-3 col-md-3 col-lg-3">Documents</th>
                                        <th class="col-sm-3 col-md-3 col-lg-3">View, Edit</th>

                                    </tr>
                                    {% for feedpub in publication_feedback %}
                                    {% if feedpub.status == 'final' %}
                                    <tr>
                                        <td>{{ feedpub.name }}</td>
                                        <td>{{ feedpub.comments }}</td>
                                        <td>
                                            {% for doc in feedpub.documents_short %}
                                            <div class="col-sm-12 col-md-12 col-lg-12">
                                                <a href="/media/{{ doc.path }}">{{ doc.path_short }}</a>
                                            </div>
                                            {% endfor %}
                                        </td>
                                        <td>
                                            {% if may_update_publication_feedback_final == "True" %}
                                            <a href="{% url 'application_update_feedbackpublication' object.pk feedpub.id %}" class="btn btn-primary" role="button">
                                                Change
                                            </a>
                                            <a href="{% url 'application_delete_feedbackpublication' object.pk feedpub.id %}" class="btn btn-primary" role="button">
                                                Delete
                                            </a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endif %}
                                    {% endfor %}
                                </table>
                                {% else %}
                                <p>None</p>
                                {% endif %}
                                {% if may_update_publication_feedback_final == "True" %}
                                <a href="{% url 'application_add_feedbackpublication_final' object.pk 'final' %}" class="btn btn-primary" role="button">
                                    Add Feedback
                                </a>
                                {% endif %}



                            </div>
                        </div>
                    </div>

                    <div class="panel-body">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="col-lg-4">
                                <label>Signed copy (signed by DG) of final report</label>
                            </div>
                            <div class="col-lg-4">
                                <div class="col-lg-4">
                                    {% if object.document_final %}
                                    <A HREF='/media/{{ object.document_final.upload.name }}'>Signed Document.pdf</A>
                                    {% else %}
                                        No Attachment
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="col-lg-10">
                                Publish signed report on website
                            </div>
                            <div class="col-lg-2 align-right text-right">
                                <td>
                                    {% if object.publish_final_report %}
                                    <a href="javascript:void();" class="btn btn-primary" role="button">
                                        Published on the {{ object.publish_final_report }}
                                    </a>
                                    {% else %}
                                    {% if may_update_publication_feedback_final == "True" %}
                                    <a href="{% url 'application_publish_documents' object.pk 'final' %}" class="btn btn-primary" role="button">
                                        Publish
                                    </a>
                                    {% endif %}
                                    {% endif %}
                                </td>
                            </div>

                        </div>
                    </div>
                     {% endif %}

                </div>
            </div>
            {% endif %}
            {% if hidden.stakeholdercommunication == "False" %}
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="stakeholder_communication_heading">
                    <h3 class="panel-title">
                        <a role="button" data-toggle="collapse" href="#stakeholder_communication_collapse" aria-expanded="false" aria-controls="stakeholder_communication_collapse">
                            <span class="glyphicon glyphicon-plus"></span>
                            Stakeholder Communication
                        </a>
                    </h3>
                </div>
                <div class="panel-collapse collapse {{ collapse.stakeholder_communication }}" id="stakeholder_communication_collapse" role="tabpanel" aria-labelledby="stakeholder_communication_heading">
                    <div class="panel-body">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="col-lg-12">
                                <label><u>Application</u></label>
                            </div>
                            <div class="col-lg-12">
                                <div class="col-lg-6">
                                    <label>The letter to stakeholders</label> 
                                </div>
                                <div class="col-lg-6">
                                    Generated Letter.PDF
                                </div>
                            </div>
                            <div class="col-lg-12">

                                <div class="col-lg-6">
                                    <label>Emailed to</label>
                                </div>
                                <div class="col-lg-6">
                                    <div class="col-lg-12">
                                        joe@gmail.com (Jow Captian - Applicat)
                                    </div>
                                    <div class="col-lg-12">
                                        fredauthorised@agent.com (Fred Authorised - Submitter)
                                    </div>
                                    <div class="col-lg-12">
                                        example@a.com (Joe Talkback - Feedback) 
                                    </div>
                                    <div class="col-lg-12">
                                        info@perth.wa.gov.au (Perth City - Referral)
                                    </div>
                                    <div class="col-lg-12">
                                        info@joon.wqa.gov.au (Joonfaloop City - Referral)
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <label><u>Draft Report</u></label>
                            </div>
                            <div class="col-lg-12">
                                <div class="col-lg-6">
                                    <label>The letter to stakeholders</label>
                                </div>
                                <div class="col-lg-6">
                                    Generated Letter.PDF
                                </div>
                            </div>
                            <div class="col-lg-12">

                                <div class="col-lg-6">
                                    <label>Emailed to</label>
                                </div>
                                <div class="col-lg-6">
                                    <div class="col-lg-12">
                                        joe@gmail.com (Jow Captian - Applicat)
                                    </div>
                                    <div class="col-lg-12">
                                        fredauthorised@agent.com (Fred Authorised - Submitter)
                                    </div>
                                    <div class="col-lg-12">
                                        example@a.com (Joe Talkback - Feedback)
                                    </div>
                                    <div class="col-lg-12">
                                        info@perth.wa.gov.au (Perth City - Referral)
                                    </div>
                                    <div class="col-lg-12">
                                        info@joon.wqa.gov.au (Joonfaloop City - Referral)
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="col-lg-6">Swan River Trust board</div> <div class="col-lg-6"> (Fred Van Dam 24/02/2017) </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <label><u>Final Report</u></label>
                            </div>
                            <div class="col-lg-12">
                                <div class="col-lg-6">
                                    <label>The letter to stakeholders</label>
                                </div>
                                <div class="col-lg-6">
                                    Generated Letter.PDF
                                </div>
                            </div>
                            <div class="col-lg-12">

                                <div class="col-lg-6">
                                    <label>Emailed to</label>
                                </div>
                                <div class="col-lg-6">
                                    <div class="col-lg-12">
                                        joe@gmail.com (Jow Captian - Applicat)
                                    </div>
                                    <div class="col-lg-12">
                                        fredauthorised@agent.com (Fred Authorised - Submitter)
                                    </div>
                                    <div class="col-lg-12">
                                        example@a.com (Joe Talkback - Feedback)
                                    </div>
                                    <div class="col-lg-12">
                                        info@perth.wa.gov.au (Perth City - Referral)
                                    </div>
                                    <div class="col-lg-12">
                                        info@joon.wqa.gov.au (Joonfaloop City - Referral)
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="col-lg-6">Swan River Trust board</div> <div class="col-lg-6"> (Fred Van Dam 24/02/2017)</div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <label><u>Determination</u></label>
                            </div>
                            <div class="col-lg-12">
                                <div class="col-lg-6">
                                    <label>The letter to stakeholders</label>
                                </div>
                                <div class="col-lg-6">
                                    Generated Letter.PDF
                                </div>
                            </div>
                            <div class="col-lg-12">

                                <div class="col-lg-6">
                                    <label>Emailed to</label>
                                </div>
                                <div class="col-lg-6">
                                    <div class="col-lg-12">
                                        joe@gmail.com (Jow Captian - Applicat)
                                    </div>
                                    <div class="col-lg-12">
                                        fredauthorised@agent.com (Fred Authorised - Submitter)
                                    </div>
                                    <div class="col-lg-12">
                                        example@a.com (Joe Talkback - Feedback)
                                    </div>
                                    <div class="col-lg-12">
                                        info@perth.wa.gov.au (Perth City - Referral)
                                    </div>
                                    <div class="col-lg-12">
                                        info@joon.wqa.gov.au (Joonfaloop City - Referral)
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="col-lg-6">Swan River Trust board</div> <div class="col-lg-6"> <input type='checkbox' > Click here when done.</div>
                                    </div>
                                </div>
                            </div>	
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}

            {% if hidden.referrals == "False" %}
                {% include "applications/application_referrals.html" %}
            {% endif %}

            <!-- Conditions panel -->
            {% if hidden.conditions == "False" %}
            {% include "applications/application_conditions.html" %}
            {% endif %}
            <!-- Workflow - Assessment -->

            {% if hidden.assessments == "False" %}
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="assessment_heading">
                    <h3 class="panel-title">
                        <a role="button" data-toggle="collapse" href="#assessment_collapse" aria-expanded="false" aria-controls="assessment_collapse">
                            <span class="glyphicon glyphicon-plus"></span>
                            Assessment
                        </a>
                    </h3>
                </div>
                <div class="panel-collapse collapse {{ collapse.assessments }}" id="assessment_collapse" role="tabpanel" aria-labelledby="assessment_heading">
                    <div class="panel-body">


                        {% if hidden.assessments_draft_report == "False" %}
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="col-lg-12">
                                <label><u>Draft Report</u></label>
                            </div>
                            <div class="col-lg-12">
                                <div class="col-lg-6">
                                    Current Version of Report
                                </div>
                                <div class="col-lg-6">
                                    {% if object.document_draft %}
                                    <A HREF='/media/{{ object.document_draft.upload }}'>Assessment Report.PDF</A>
                                    {% else %}
                                    No Attachment
                                    {% endif %}

                                </div>
                            </div>

                        </div>

                        <div class="col-lg-12">
                            <div class="col-lg-6">
                                <label> Start Date</label>
                            </div>
                            <div class="col-lg-6">
                                {{ object.assessment_start_date }}
                            </div>
                        </div>

                        {% if may_update_assessment_draft == "True" %}
                        <a href="{% url 'application_update' object.pk %}" class="btn btn-primary" role="button">
                            Update
                        </a>
                        {% endif %}



                        {% endif %}
                        {% if hidden.assessments_draft_report_after_public_consultation == "False" %}

                        <div class="col-lg-12">
                            <div class="col-lg-12">
                                <label><u>Draft Report after public consultation</u></label>
                            </div>
                            <div class="col-lg-12">
                                <div class="col-lg-6">
                                    Draft Report after public consultation
                                </div>
                                <div class="col-lg-6">
                                    <A HREF=''>Assessment Report Version 3.PDF</A>
                                </div>

                            </div>

                        </div>	
                        {% endif %}

                        {% if hidden.assessments_determination_and_breifing_note == "False" %}

                        <div class="col-lg-12">
                            <div class="col-lg-12">
                                <label><u>Determination and Breifing Note</u></label>
                            </div>
                            <div class="col-lg-12">
                                <div class="col-lg-6">
                                    Determination
                                </div>
                                <div class="col-lg-6">
                                    <A HREF=''>Attach document</A>
                                </div>

                            </div>
                            <div class="col-lg-12">
                                <div class="col-lg-6">
                                    Briefing Note 
                                </div>
                                <div class="col-lg-6">
                                    <A HREF=''>Attach document</A>
                                </div>

                            </div>

                        </div>
                        {% endif %}

                        {% if may_update == "True" %}
                                <a class="btn btn-primary" role="button" href="{% url 'application_update' object.pk %}">{% if formcomponent.update.title %}{{ formcomponent.update.title }}{% else %} Update application{% endif %}</a>
                        {% endif %}

                    </div>
        
            

                </div>		


            </div>
            {% endif %}	


        </div>
    </div>
</div>
{% endblock page_content_inner %}
