<!-- Vessel / Craft Panel -->
<div class="panel panel-default" style='display:none'>
    <div class="panel-heading" role="tab" id="vessels_heading">
        <h3 class="panel-title">
            <a role="button" data-toggle="collapse" href="#vessels_collapse" aria-expanded="false" aria-controls="vessels_collapse">
                <span class="glyphicon glyphicon-plus"></span>
                Vessel and craft details
            </a>
        </h3>
    </div>
    <div class="panel-collapse collapse {{ collapse.vessels }}" id="vessels_collapse" role="tabpanel" aria-labelledby="vessels_heading">
        <div class="panel-body">
        </div>
    </div>
</div>

<button class="btn btn-primary btn-sm" onclick="django_ajax_form.OpenForm();" type='button'>Add Vessel</button>

<table class="table table-bordered table-striped">
    <tr>
        <th>Nominated vessel</th>
        <th>Vessel ID</th>
        <th>Hire and drive registration</th>
        <th>Size (m)</th>
        <th>Engine (kW)</th>
        <th>Passenger capacity</th>
        <th></th>
    </tr>
    {% for vessel in object.vessels.all %}
    <tr>
        <td>{{ vessel.name }}</td>
        <td>{{ vessel.vessel_id }}</td>
        <td>
            {% if vessel.registration.exists %}
            {% for doc in vessel.registration.all %}<a href="{{ doc.upload.url }}">{{ doc }}</a><br>{% endfor %}
            {% endif %}
        </td>
        <td>{% if vessel.size %}{{ vessel.size }}{% endif %}</td>
        <td>{% if vessel.engine %}{{ vessel.engine }}{% endif %}</td>
        <td>{% if vessel.passenger_capacity %}{{ vessel.passenger_capacity }}{% endif %}</td>
        <td>
            {% if may_update_vessels_list == "True" %}
            <a href="{% url 'vessel_update' vessel.pk %}" class="btn btn-primary btn-sm" role="button">Update</a>
            <a href="{% url 'vessel_delete' vessel.pk %}" class="btn btn-primary btn-sm" role="button">Delete</a>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>

{% if object.vessels.exists %}
{% else %}
<p>None</p>
{% endif %}

{% if may_update_vessels_list == "True"  %}
<a href="{% url 'application_add_vessel' object.pk %}" class="btn btn-primary" role="button">
    Add new vessel / craft
</a>
{% endif %}

