
{% block page_content_inner %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static "/css/applications.css" %}" />

<div class="container-fluid">
    <div class="row">
        <h1>View Feedback for application id {{ object.application.id }}</h1>
        <br />
    </div>
    <!-- Action panel start -->


        <div class="panel-body">
              <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="col-lg-3">
                          <label>Name</label>
                    </div>
                    <div class="col-lg-9">
                          <div class="col-lg-12">
				{{ object.name }}
                           </div>
                   </div>
              </div>

              <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="col-lg-3">
                          <label>Address</label>
                    </div>
                    <div class="col-lg-9">
                          <div class="col-lg-12">
                                {{ object.address }}
                           </div>
                   </div>
              </div>

              <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="col-lg-3">
                          <label>Suburb</label>
                    </div>
                    <div class="col-lg-9">
                          <div class="col-lg-12">
                                {{ object.suburb }}
                           </div>
                   </div>
              </div>


              <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="col-lg-3">
                          <label>State</label>
                    </div>
                    <div class="col-lg-9">
                          <div class="col-lg-12">
                                {{ object.state }}
                           </div>
                   </div>
              </div>



              <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="col-lg-3">
                          <label>Postcode</label>
                    </div>
                    <div class="col-lg-9">
                          <div class="col-lg-12">
                                {{ object.postcode }}
                           </div>
                   </div>
              </div>


              <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="col-lg-3">
                          <label>Phone</label>
                    </div>
                    <div class="col-lg-9">
                          <div class="col-lg-12">
                                {{ object.phone }}
                           </div>
                   </div>
              </div>


              <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="col-lg-3">
                          <label>Email</label>
                    </div>
                    <div class="col-lg-9">
                          <div class="col-lg-12">
                                {{ object.email }}
                           </div>
                   </div>
              </div>

              <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="col-lg-3">
                          <label>Comments</label>
                    </div>
                    <div class="col-lg-9">
                          <div class="col-lg-12">
                                {{ object.comments }}
                           </div>
                   </div>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="col-lg-3">
                          <label>Attachments</label>
                    </div>
                    <div class="col-lg-9">
                          <div class="col-lg-12">
                                {% if object.records %}
                                        {% for doc in object.records.all %}
                                        <div class="col-sm-12 col-md-12 col-lg-12"><A HREF='/media/{{ doc.upload }}'>{{ doc.upload }}</A></div>
                                        {% endfor %}
                                {% else %}
                                        No Attachments
                                {% endif %}
                           </div>
                   </div>
              </div>

</div>
{% endblock %}
