            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="title_heading">
                    <h3 class="panel-title">
                        <a role="button" data-toggle="collapse" href="#title_collapse" aria-expanded="true" aria-controls="title_collapse">
                           Description
                           <span class="glyphicon collapse-glyph glyphicon-chevron-down"></span>
                        </a>
                    </h3>
                </div>
                <div class="panel-collapse collapse {{ collapse.title }}" id="title_collapse" role="tabpanel" aria-labelledby="title_heading">
                    <div class="panel-body">
			<div class='col-sm-12 col-md-12 col-lg-12'>
			<div class='col-sm-12 col-md-3 col-lg-3'>
                        <label>Description of works, acts or activities?</label>
			</div>
			<div class='col-sm-12 col-md-9 col-lg-9'>
				{{ object.description }}
			</div>
			</div>
			<div class='col-sm-12 col-md-12 col-lg-12'>

			<div class='col-sm-12 col-md-3 col-lg-3'>
				<label>Proposed development plans</label>
			</div>
                        <div class='col-sm-12 col-md-9 col-lg-9'>
				<a href="{{ object.proposed_development_plans.upload.url }}">{{ object.proposed_development_plans }}</a>
                        </div>
			</div>

			<div class='col-sm-12 col-md-12 col-lg-12'>

			<div class='col-sm-12 col-md-3 col-lg-3'>
                                <label>Supporting info demonstrate compliance trust policies</label>
                        </div>
                        <div class='col-sm-12 col-md-9 col-lg-9'>
				<a href="{{ object.supporting_info_demonstrate_compliance_trust_policies.upload.url }}">{{ object.supporting_info_demonstrate_compliance_trust_policies }}</a>
                        </div>
			</div>
                    </div>

		
                </div>
            </div>


