{% extends "base_statdev.html" %}

{% block page_content_inner %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static "/css/applications.css" %}" />

<div class="container-fluid">
    <div class="row">
        <h1>Application for {{ object.get_app_type_display }} - {{ object.pk }}</h1>
        <br />
    </div>
<!-- Action panel start -->

    <div class="row">
        {% include "applications/application_side_menu.html" %}

<!-- Main panel start -->
        <div class="col-sm-8 col-md-9 col-lg-10">
            <!-- Applicant panel -->
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="applicant_heading">
                    <h3 class="panel-title">
                        <a role="button" data-toggle="collapse" href="#applicant_collapse" aria-expanded="false" aria-controls="application_collapse">
                            <span class="glyphicon glyphicon-plus"></span>
                            Applicant
                        </a>
                    </h3>
                </div>
                <div class="panel-collapse collapse" id="applicant_collapse" role="tabpanel" aria-labelledby="applicant_heading">
                    <div class="panel-body">
                        {# TODO: applicant details should only be visible to internal users. #}
                        <div class="row">
                            {% include "applications/applicant_snippet.html" %}
                        </div>
                        {% if object.organisation %}
                        <div class="row">
                            <div class="col-xs-12">
                                <h4>Company:</h4>
                                <p>{{ object.organisation.name }}{% if object.organisation.abn %} (ABN: {{ object.organisation.abn }}){% endif %}</p>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Title</h3>
                </div>
                <div class="panel-body">
                    <p>{{ object.title }}</p>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Proposed commercial acts and activites</h3>
                </div>
                <div class="panel-body">
                    <p>{{ object.description }}</p>
                </div>
            </div>

            <!-- Vessel / Craft Panel -->
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="vessels_heading">
                    <h3 class="panel-title">
                        <a role="button" data-toggle="collapse" href="#vessels_collapse" aria-expanded="false" aria-controls="vessels_collapse">
                            <span class="glyphicon glyphicon-plus"></span>
                            Vessel and craft details
                        </a>
                    </h3>
                </div>
                <div class="panel-collapse collapse" id="vessels_collapse" role="tabpanel" aria-labelledby="vessels_heading">
                    <div class="panel-body">
                        {% if object.vessels.exists %}
                        <table class="table table-bordered table-striped">
                            <tr>
                                <th>Nominated vessel</th>
                                <th>Vessel ID</th>
                                <th>Hire and drive registration</th>
                                <th>Size (m)</th>
                                <th>Engine (kW)</th>
                                <th>Passenger capacity</th>
                                <th></th>
                            </tr>
                            {% for vessel in object.vessels.all %}
                                <tr>
                                    <td>{{ vessel.name }}</td>
                                    <td>{{ vessel.vessel_id }}</td>
                                    <td>
                                        {% if vessel.registration.exists %}
                                        {% for doc in vessel.registration.all %}<a href="{{ doc.upload.url }}">{{ doc }}</a><br>{% endfor %}
                                        {% endif %}
                                    </td>
                                    <td>{% if vessel.size %}{{ vessel.size }}{% endif %}</td>
                                    <td>{% if vessel.engine %}{{ vessel.engine }}{% endif %}</td>
                                    <td>{% if vessel.passenger_capacity %}{{ vessel.passenger_capacity }}{% endif %}</td>
                                    <td>
                                    {% if may_update %}
                                    <a href="{% url 'vessel_update' vessel.pk %}" class="btn btn-primary btn-sm" role="button">Update</a>
                                    {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                        {% else %}
                        <p>None</p>
                        {% endif %}
                        {% if may_update %}
                        <a href="{% url 'application_add_vessel' object.pk %}" class="btn btn-primary" role="button">
                           Add new vessel / craft
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>

            <!-- Proposal details panel -->
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="prop_details_heading">
                    <h3 class="panel-title">
                        <a role="button" data-toggle="collapse" href="#prop_details_collapse" aria-expanded="false" aria-controls="prop_details_collapse">
                            <span class="glyphicon glyphicon-plus"></span>
                            Proposal details
                        </a>
                    </h3>
                </div>
                <div class="panel-collapse collapse" id="prop_details_collapse" role="tabpanel" aria-labelledby="prop_details_heading">
                    <div class="panel-body">
                        <div class="fluid-container">
                            <div class="row">
                                <div class="col-xs-12">
                                    <h4>Purpose of application:</h4>
                                    {% if object.purpose %}
                                    <p>{{ object.purpose }}</p>
                                    {% else %}
                                    <p>Not stated</p>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <h4>Proposed commencement date:</h4>
                                    {% if object.proposed_commence %}
                                    <p>{{ object.proposed_commence|date:"d-M-Y" }}</p>
                                    {% else %}
                                    <p>Not stated</p>
                                    {% endif %}
                                </div>
                                <div class="col-md-6">
                                    <h4>Proposed end date:</h4>
                                    {% if object.proposed_end %}
                                    <p>{{ object.proposed_end|date:"d-M-Y" }}</p>
                                    {% else %}
                                    <p>Not stated</p>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <h4>Maximum number of participants:</h4>
                                    <p>{{ object.max_participants }}</p>
                                    <h4>Proposed location:</h4>
                                    <p>{{ object.proposed_location }}</p>
                                    <h4>Address of any land-based component of the commercial activity:</h4>
                                    {% if object.address %}
                                    <p>{{ object.address }}</p>
                                    {% else %}
                                    <p>Not stated</p>
                                    {% endif %}
                                    <h4>Location/route and access points (mark clearly on map):</h4>
                                    {% if object.location_route_access %}
                                    <p><a href="{{ object.location_route_access.upload.url }}">{{ object.location_route_access }}</a></p>
                                    {% else %}
                                    <p>Not stated</p>
                                    {% endif %}
                                    <h4>List of jetties to be used:</h4>
                                    {% if object.jetties %}
                                    <p>{{ object.jetties }}</p>
                                    {% else %}
                                    <p>Not stated</p>
                                    {% endif %}
                                    <h4>Do you have approval to use Department of Transport service jetties?</h4>
                                    <p>{{ object.jetty_dot_approval|yesno:"Yes,No,Not stated" }}</p>
                                    <h4>List all drop off and pick up points</h4>
                                    {% if object.drop_off_pick_up %}
                                    <p>{{ object.drop_off_pick_up }}</p>
                                    {% else %}
                                    <p>Not stated</p>
                                    {% endif %}
                                    <h4>Food to be served?</h4>
                                    <p>{{ object.food|yesno:"Yes,No,Not stated" }}</p>
                                    <h4>Beverage to be served?</h4>
                                    <p>{{ object.beverage|yesno:"Yes,No,Not stated" }}</p>
                                    <h4>Do you allow BYO alcohol?</h4>
                                    <p>{{ object.byo_alcohol|yesno:"Yes,No,Not stated" }}</p>
                                    <h4>Details of sullage disposal method:</h4>
                                    {% if object.sullage_disposal %}
                                    <p>{{ object.sullage_disposal }}</p>
                                    {% else %}
                                    <p>Not stated</p>
                                    {% endif %}
                                    <h4>Details of waste disposal method:</h4>
                                    {% if object.waste_disposal %}
                                    <p>{{ object.waste_disposal }}</p>
                                    {% else %}
                                    <p>Not stated</p>
                                    {% endif %}
                                    <h4>Location and method of refueling:</h4>
                                    {% if object.refuel_location_method %}
                                    <p>{{ object.refuel_location_method }}</p>
                                    {% else %}
                                    <p>Not stated</p>
                                    {% endif %}
                                    <h4>Berth location:</h4>
                                    {% if object.berth_location %}
                                    <p>{{ object.berth_location }}</p>
                                    {% else %}
                                    <p>Not stated</p>
                                    {% endif %}
                                    <h4>List all anchorage areas:</h4>
                                    {% if object.anchorage %}
                                    <p>{{ object.anchorage }}</p>
                                    {% else %}
                                    <p>Not stated</p>
                                    {% endif %}
                                    <h4>Hours and days of operation including length of tours/lessons:</h4>
                                    {% if object.operating_details %}
                                    <p>{{ object.operating_details }}</p>
                                    {% else %}
                                    <p>Not stated</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Other Documents panel -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Other documents</h3>
                </div>
                <div class="panel-body">
                    <div class ="row">
                        <div class="col-xs-12">
                            <h4>Certificate of survey:</h4>
                            {% if object.cert_survey %}
                            <p><a href="{{ object.cert_survey.upload.url }}">{{ object.cert_survey }}</a></p>
                            {% else %}
                            <p>None</p>
                            {% endif %}
                            <h4>Public liability insurance certificate:</h4>
                            {% if object.cert_public_liability_insurance %}
                            <p><a href="{{ object.cert_public_liability_insurance.upload.url }}">{{ object.cert_public_liability_insurance }}</a></p>
                            {% else %}
                            <p>None</p>
                            {% endif %}
                            <h4>Risk management plan (if available):</h4>
                            {% if object.risk_mgmt_plan %}
                            <p><a href="{{ object.risk_mgmt_plan.upload.url }}">{{ object.risk_mgmt_plan }}</a></p>
                            {% else %}
                            <p>None</p>
                            {% endif %}
                            <h4>Safety management procedures (if available):</h4>
                            {% if object.safety_mgmt_procedures %}
                            <p><a href="{{ object.safety_mgmt_procedures.upload.url }}">{{ object.safety_mgmt_procedures }}</a></p>
                            {% else %}
                            <p>None</p>
                            {% endif %}
                            <h4>Brochures, itineraries or advertisements (if applicable):</h4>
                            {% if object.brochures_itineries_adverts.exists %}
                            <p>{% for doc in object.brochures_itineries_adverts.all %}<a href="{{ doc.upload.url }}">{{ doc }}</a><br>{% endfor %}</p>
                            {% else %}
                            <p>None</p>
                            {% endif %}
                            {% comment %}
                            <h4>Other relevant supporting documentation (if available)</h4>
                            {% if other_supporting_docs.exists %}
                            <p>{% for doc in object.other_supporting_docs.all %}
                                <a href="{{ doc.upload.url }}">{{ doc }}</a><br>
                            {% endfor %}</p>
                            {% else %}
                            <p>None</p>
                            {% endif %}
                            {% endcomment %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- Landowner Consent panel -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Landowner Consent Documents</h3>
                </div>
                <div class="panel-body">
                    {% if object.land_owner_consent.exists %}
                    <p>{% for doc in object.land_owner_consent.all %}<a href="{{ doc.upload.url }}">{{ doc }}</a><br>{% endfor %}</p>
                    {% else %}
                    <p>None</p>
                    {% endif %}
                </div>
            </div>
            <!-- Deed panel -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Deed</h3>
                </div>
                <div class="panel-body">
                    {% if object.deed %}
                    <p><a href="{{ object.deed.upload.url }}">{{ object.deed }}</a></p>
                    {% else %}
                    <p>None</p>
                    {% endif %}
                </div>
            </div>
            <!-- Referrals panel -->
            {% include "applications/application_referrals.html" %}

            <!-- Conditions panel -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Conditions</h3>
                </div>
                <div class="panel-body">
                    {% if object.condition_set.exists %}
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Number</th>
                                <th>Condition</th>
                                <th>Source</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for cond in object.condition_set.all %}
                            <tr>
                                <td>{{ cond.pk }}</td>
                                <td>{{ cond.condition }}</td>
                                <td>{% if cond.referral %}{{ cond.referral.referee }}{% else %}P&W{% endif %}</td>
                                <td>{{ cond.get_status_display }}</td>
                                <td>
                                    {% if may_update_condition %}
                                        {% if may_accept_condition and cond.status == cond.CONDITION_STATUS_CHOICES.proposed %}
                                        <a class="btn btn-primary btn-sm" role="button" href="{% url 'condition_update' cond.pk 'apply' %}">Apply</a>
                                        <a class="btn btn-danger btn-sm" role="button" href="{% url 'condition_update' cond.pk 'reject' %}">Reject</a>
                                        {% else %}
                                        {% if cond.status == cond.CONDITION_STATUS_CHOICES.applied %}
                                        <a class="btn btn-primary btn-sm" role="button" href="{% url 'condition_update' cond.pk %}">Update</a>
                                        <a class="btn btn-danger btn-sm" role="button" href="{% url 'condition_delete' cond.pk %}">Delete</a>
                                        {% endif %}
                                        {% endif %}
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                    </table>
                    {% else %}
                    <p>None</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock page_content_inner %}

{% block extra_js %}
{{ block.super }}
<script>
    $(function() {
        $('.collapse').on('shown.bs.collapse', function() {
            $(this).parent().find(".glyphicon-plus").removeClass("glyphicon-plus").addClass("glyphicon-minus");
        }).on('hidden.bs.collapse', function() {
            $(this).parent().find(".glyphicon-minus").removeClass("glyphicon-minus").addClass("glyphicon-plus");
        });
    });
</script>
{% endblock extra_js %}
