{% extends "base_statdev.html" %}

{% block page_content_inner %}
{% if applications %}
<h1>My applications (in-progress):</h1>
</ul>
    {% for app in applications %}
    <li><a href="{% url 'application_detail' app.pk %}">Application {{ app }}</a></li>
    {% endfor %}
</ul>
{% endif %}


{% if applications_submitted %}
<h1>My submitted applications:</h1>
</ul>
    {% for app in applications_submitted %}
    <li><a href="{% url 'application_detail' app.pk %}">Application {{ app }}</a></li>
    {% endfor %}
</ul>
{% endif %}


{% if referrals %}
<h1>My referrals:</h1>
<ul>
    {% for ref in referrals %}
    <li>
        <a href="{% url 'application_detail' ref.application.pk %}">Application {{ ref.application }}</a>
        <a href="{% url 'condition_create' ref.application.pk %}">Create a condition</a>
        <a href="{% url 'referral_complete' ref.pk %}">Complete with feedback</a>
    {% endfor %}
</ul>
{% endif %}

{% comment %}
{% if tasks %}
<h1>My ongoing tasks:</h1>
<ul>
    {% for task in tasks %}
    <li><a href="{% url 'application_detail' task.application.pk %}">Application {{ task.application.pk }} ({{ task.application.get_app_type_display }}) - {{ task.get_task_type_display }} ({{ task.get_status_display }})</a> <a href="{% url 'task_reassign' task.pk  %}">Reassign</a></li>
    {% endfor %}
</ul>
{% endif %}
{% endcomment %}
{% endblock %}
