{% extends "base_statdev.html" %}

{% block page_content_inner %}
<h1>{{ page_heading }}</h1>
<ul>
    <li><a href="{% url 'application_list' %}">List all applications</a></li>
    {% if may_create %}<li><a href="{% url 'application_create' %}">Create a new application</a></li>{% endif %}
</ul>

{% if referrals %}
<h2>My referrals:</h2>
<ul>
    {% for ref in referrals %}
    <li>
        <a href="{% url 'application_detail' ref.application.pk %}">Application {{ ref.application }}</a>
        <a href="{% url 'condition_create' ref.application.pk %}">Create a condition</a>
        <a href="{% url 'referral_complete' ref.pk %}">Complete with feedback</a>
    {% endfor %}
</ul>
{% endif %}

{% comment %}
{% if tasks %}
<h2>My ongoing tasks:</h2>
<ul>
    {% for task in tasks %}
    <li><a href="{% url 'application_detail' task.application.pk %}">Application {{ task.application.pk }} ({{ task.application.get_app_type_display }}) - {{ task.get_task_type_display }} ({{ task.get_status_display }})</a> <a href="{% url 'task_reassign' task.pk  %}">Reassign</a></li>
    {% endfor %}
</ul>
{% endif %}
{% endcomment %}
{% endblock %}
