{% extends "base_statdev.html" %}

{% block page_content_inner %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static "/css/applications.css" %}" />

<div class="container-fluid">
    <div class="row">
        <h1>Organisation Access Request For "{{ object.name }}" - Request: {{ object.pk }}</h1>
        <br/>
    </div>
{% if object.status == 2 %}
<div class="alert alert-success" role="alert">
  <strong>Approved</strong> This organisation is approved
</div>
{% elif object.status == 3 %}

<div class="alert alert-danger" role="alert">
  <strong>Declined</strong> This organisation is declined
</div>

{% elif object.status == 1 %}

<div class="alert alert-info" role="alert">
  <strong>Pending</strong> This organisation is pending approval
</div>

{% endif %}
    <!-- Action panel start -->
    <div class="row">
        {% include "applications/organisation_request_side_menu.html" %}

        <!-- Main panel start -->
        <div class="col-sm-8 col-md-9 col-lg-10">
            <!-- Holder panel -->
            <div class="panel panel-default">
                <div class="panel-heading" data-toggle="collapse" data-target="#holder_collapse">
                    <h3 class="panel-title">
                        Company Access Request 
                        <span class="glyphicon glyphicon-minus collapse-glyph"></span>
                    </h3>
                </div>
                <div class="panel-collapse collapse in" id="holder_collapse">
                    <div class="panel-body">
                        <div class="col-sm-8 col-md-6 col-lg-4">
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                <div class="col-sm-12 col-md-6 col-lg-4">
                                    <label>Company<label>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-8">
                                        {{ object.name }}
                                </div>
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <div class="col-sm-12 col-md-6 col-lg-4"> 
                                    <label>ABN</label>
                                    </div>
                                    <div class="col-sm-12 col-md-6 col-lg-8">
                                        {{ object.abn }}
                                     </div>
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <div class="col-sm-12 col-md-6 col-lg-4">
                                    <label>Certificate of Incorportation</label>
                                    </div>
                                    <div class="col-sm-12 col-md-6 col-lg-8">
                                        <A HREF='/media/{{ object.identification.upload }}'>{{ object.identification }}</A>
                                     </div>
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <div class="col-sm-12 col-md-6 col-lg-4">
                                    <label>Phone (home)</label>
                                    </div>
                                    <div class="col-sm-12 col-md-6 col-lg-8">
                                        {{ object.email_user.phone_number }}
                                     </div>
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-12" style='display:none'>
                                    <div class="col-sm-12 col-md-6 col-lg-4">
                                    <label>Phone (work)</label>
                                    </div>
                                    <div class="col-sm-12 col-md-6 col-lg-8">
                                     </div>
                                </div>

                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <div class="col-sm-12 col-md-6 col-lg-4">
                                    <label>Mobile</label>
                                    </div>
                                    <div class="col-sm-12 col-md-6 col-lg-8">
                                            {{ object.email_user.mobile_number }}
                                     </div>
                                </div>

                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <div class="col-sm-12 col-md-6 col-lg-4">
                                    <label>Email</label>
                                    </div>
                                    <div class="col-sm-12 col-md-6 col-lg-8">
                                        {{ object.email_user.email }}
                                     </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

	{% if object.status == 1  %}
            <a class="btn btn-primary btn-sm" role="button" href="{% url "organisation_access_requests_change" object.pk 'approve' %}">Approve</a> <a class="btn btn-primary btn-sm" role="button" href="{% url "organisation_access_requests_change" object.pk 'decline' %}">Decline</a>
	{% endif %}
        </div>
    </div>
</div>


{% endblock page_content_inner %}

{% block extra_js %}
{{ block.super }}
<script>
    $(function() {
        $('.collapse').on('shown.bs.collapse', function() {
            $(this).parent().find(".glyphicon-plus").removeClass("glyphicon-plus").addClass("glyphicon-minus");
        }).on('hidden.bs.collapse', function() {
            $(this).parent().find(".glyphicon-minus").removeClass("glyphicon-minus").addClass("glyphicon-plus");
        });
    });
</script>
{% endblock extra_js %}
