{% extends "base_statdev.html" %}

{% block page_content_inner %}
<div class="panel panel-default">

    <div class="panel-collapse collapse in" id="application_list_collapse" role="tabpanel" aria-labelledby="application_list_heading">
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <h1>{{ object.first_name }} {{ object.last_name }}</h1>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <ul class="nav nav-tabs">
                            <li role="presentation" class="{{ nav_details }}"><a href="{% url "person_details_actions" object.pk "personal" %}">Details</a></li>
                            <li role="presentation" class="{{ nav_other }}"><a href="{% url "person_other_actions" object.pk "applications" %}">Other</a></li>
                        </ul>
                        <BR>
                    </div>

                    {% include "applications/application_side_menu.html" %}
                    {% if nav_details == "active" %}

                    <div class="col-sm-12 col-md-9 col-lg-9">
                        <ul class="nav nav-pills">
                            <li role="presentation" class="{{ nav_details_personal }}"><a href="{% url "person_details_actions" object.pk "personal" %}">Personal Details</a></li>
                            <li role="presentation" class="{{ nav_details_identification }}" ><a href="{% url "person_details_actions" object.pk "identification" %}">Identification</a></li>
                            <li role="presentation" class="{{ nav_details_address }}" ><a href="{% url "person_details_actions" object.pk "address" %}">Address Details</a></li>
                            <li role="presentation" class="{{ nav_details_contactdetails }}" ><a href="{% url "person_details_actions" object.pk "contactdetails" %}">Contact Details</a></li>
                            <li role="presentation" class="{{ nav_details_companies }}" ><a href="{% url "person_details_actions" object.pk "companies" %}">Companies</a></li>
                        </ul>
                        <br>
                    </div>

                    <div class="col-sm-8 col-md-9 col-lg-10">
                        {% if nav_details_personal == "active" %}
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="title_heading">
                                <h3 class="panel-title">
                                    <a role="button" data-toggle="collapse" href="#company_details_collapse" aria-expanded="false" aria-controls="company_details_collapse">
                                        <span class="glyphicon glyphicon-plus"></span>
                                        Personal Details
                                    </a>
                                </h3>
                            </div>

                            <div class="panel-collapse collapse in" id="company_details_collapse" role="tabpanel" aria-labelledby="company_details_heading">
                                <div class="panel-body">

                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                        <div class="col-sm-12 col-md-3 col-lg-3">
                                            <label>Name</label>
                                        </div>
                                        <div class="col-sm-12 col-md-9 col-lg-9">
                                            {{ object.first_name }} {{ object.last_name }}
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                        <div class="col-sm-12 col-md-3 col-lg-3">
                                            <label>Date of birth</label>
                                        </div>
                                        <div class="col-sm-12 col-md-9 col-lg-9">
                                            {{ object.dob }}

                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                        <div class="col-sm-12 col-md-11 col-lg-11">
                                            &nbsp;
                                        </div>
                                        <div class="col-sm-12 col-md-1 col-lg-1">
                                            <a class="btn btn-primary btn-sm" role="button" href="{% url "organisation_update" object.pk %}">Edit</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% elif nav_details_identification == "active" %}
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="title_heading">
                                <h3 class="panel-title">
                                    <a role="button" data-toggle="collapse" href="#cert_incorp_collapse" aria-expanded="false" aria-controls="cert_incorp_collapse">
                                        <span class="glyphicon glyphicon-plus"></span>
                                        Identification
                                    </a>
                                </h3>
                            </div>

                            <div class="panel-collapse collapse in" id="cert_incorp_collapse" role="tabpanel" aria-labelledby="cert_incorp_heading">
                                <div class="panel-body">
                                </div>
                            </div>
                        </div>
                        {% elif nav_details_address == "active" %}
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="title_heading">
                                <h3 class="panel-title">
                                    <a role="button" data-toggle="collapse" href="#address_details_collapse" aria-expanded="false" aria-controls="address_details_collapse">
                                        <span class="glyphicon glyphicon-plus"></span>
                                        Address Details
                                    </a>
                                </h3>
                            </div>

                            <div class="panel-collapse collapse in" id="address_details_collapse" role="tabpanel" aria-labelledby="address_details_heading">
                                <div class="panel-body">

                                    <div class="table-responsive">
                                        <table class="table table-striped table-bordered table-condensed">
                                            <tbody>
                                                <tr>
                                                    <th>Postal address</th>
                                                    <td>{{ object.postal_address }}</td>
                                                    {% if user_is_delegate %}
                                                    <td>
                                                        {% if object.postal_address %}
                                                        <a class="btn btn-primary btn-sm" role="button" href="{% url 'address_update' object.postal_address.pk %}">Update</a>
                                                        {% else %}
                                                        <a class="btn btn-primary btn-sm" role="button" href="{% url 'organisation_address_create' object.pk 'postal' %}">Create</a>
                                                        {% endif %}
                                                    </td>
                                                    {% endif %}
                                                </tr>
                                                <tr>
                                                    <th>Billing address</th>
                                                    <td>{{ object.billing_address }}</td>
                                                    {% if user_is_delegate %}
                                                    <td>
                                                        {% if object.billing_address %}
                                                        <a class="btn btn-primary btn-sm" role="button" href="{% url 'address_update' object.billing_address.pk %}">Update</a>
                                                        {% else %}
                                                        <a class="btn btn-primary btn-sm" role="button" href="{% url 'organisation_address_create' object.pk 'billing' %}">Create</a>
                                                        {% endif %}
                                                    </td>
                                                    {% endif %}
                                                </tr>
                                                {% comment %}
                                                {% for d in object.delegates.all %}
                                                <tr>
                                                    {% if forloop.first %}<th rowspan="{{ object.delegates.count }}">Delegated users</th>{% endif %}
                                                    <td>
                                                        {{ d.emailuser.get_full_name}}
                                                    </td>
                                                    {% if user_is_delegate %}
                                                    <td>
                                                        <a class="btn btn-danger btn-sm" role="button" href="{% url 'organisation_unlink_delegate' object.pk d.emailuser.pk %}">Unlink</a>
                                                    </td>
                                                    {% endif %}
                                                    <th></th>
                                                </tr>
                                                {% endfor %}
                                                {% endcomment %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% elif nav_details_contactdetails == "active" %}
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="title_heading">
                                <h3 class="panel-title">
                                    <a role="button" data-toggle="collapse" href="#contact_details_collapse" aria-expanded="false" aria-controls="contact_details_collapse">
                                        <span class="glyphicon glyphicon-plus"></span>
                                        Contact Details
                                    </a>
                                </h3>
                            </div>

                            <div class="panel-collapse collapse in" id="contact_details_collapse" role="tabpanel" aria-labelledby="contact_details_heading">
                                <div class="panel-body">
                                </div>
                            </div>
                        </div>
                        {% elif nav_details_companies == "active" %}
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="title_heading">
                                <h3 class="panel-title">
                                    <a role="button" data-toggle="collapse" href="#linked_person_collapse" aria-expanded="false" aria-controls="linked_person_collapse">
                                        <span class="glyphicon glyphicon-plus"></span>
                                        Companies
                                    </a>
                                </h3>
                            </div>

                            <div class="panel-collapse collapse in" id="linked_person_collapse" role="tabpanel" aria-labelledby="linked_person_heading">
                                <div class="panel-body">
                                </div>
                            </div>
                        </div>
                        {% endif %} 
                    </div>

                    {% elif nav_other == "active" %}
                    <div class="col-sm-12 col-md-9 col-lg-9">
                        <ul class="nav nav-pills">
                            <li role="presentation" class="{{ nav_other_applications }}"><a href="{% url "person_other_actions" object.pk "applications" %}">Applications</a></li>
                            <li role="presentation" class="{{ nav_other_approvals }}" ><a href="{% url "person_other_actions" object.pk "approvals" %}">Approvals</a></li>
                            <li role="presentation" class="{{ nav_other_emergency }}" ><a href="{% url "person_other_actions" object.pk "emergency" %}">Emergency Works</a></li>
                            <li role="presentation" class="{{ nav_other_clearance }}" ><a href="{% url "person_other_actions" object.pk "clearance" %}">Clearance of Conditions</a></li>
                        </ul>
                        <br>
                    </div>
                    <div class="col-sm-12 col-md-9 col-lg-10">

                        <div class="panel panel-default">
                            <div class="panel-body">


                                <div class="row">
                                    <form action="" method="get">
                                        <div class="col-sm-12 col-lg-12">
                                            <input type='hidden' name='action' value='search'>
                                            <!-- RES -->
                                            <div class="col-sm-12 col-lg-3">
                                                <div class="col-sm-12 col-lg-12">
                                                    <label>Type:</label>
                                                </div>
                                                <div class="col-sm-12 col-lg-12">
                                                    <select class="select form-control" id="id_apptype" name="apptype">
                                                        <option value="" >All</option>
                                                        {% for at in app_apptypes %}
                                                        {% if apptype == at.0 %}
                                                        <option selected="selected" value="{{ at.0 }}">{{ at.1 }}</option>
                                                        {% else %}
                                                        <option value="{{ at.0 }}">{{ at.1 }}</option>
                                                        {% endif %}

                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-lg-3">
                                                <div class="col-sm-12 col-lg-12">
                                                    <label>Applicant:</label>
                                                </div>
                                                <div class="col-sm-12 col-lg-12">
                                                    <select class="select form-control" id="id_applicant" name="applicant">
                                                        <option value="" selected="selected">All</option>
                                                        {% for person in app_applicants_list|dictsort:'name' %}
                                                        {% if applicant == person.id %}
                                                        <option selected="selected" value="{{ person.id }}">{{ person.name }}</option>
                                                        {% else %}
                                                        <option value="{{ person.id }}">{{ person.name }}</option>
                                                        {% endif %}
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-sm-12 col-lg-3">
                                                <div class="col-sm-12 col-lg-12">
                                                    <label>Status:</label>
                                                </div>
                                                <div class="col-sm-12 col-lg-12">
                                                    <select class="select form-control" id="id_appstatus" name="appstatus">
                                                        <option value="" selected="selected">All</option>
                                                        {% for at in app_appstatus %}
                                                        {% if appstatus == at.0 %}
                                                        <option selected value="{{ at.0 }}">{{ at.1 }}</option>
                                                        {% else %}
                                                        <option value="{{ at.0 }}">{{ at.1 }}</option>
                                                        {% endif %}
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-12 col-lg-12">
                                            <div class="col-sm-12 col-lg-9">
                                                <div class="col-sm-12 col-lg-12">
                                                    <label>Keyword:</label>
                                                </div>
                                                <div class="col-sm-12 col-lg-12">
                                                    <input id="search_field" type="text" class="form-control" name="q" placeholder="Search..." value="{{ query_string }}">
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-lg-3">
                                                <div class="col-sm-12 col-lg-12">
                                                    <input type="submit" name="search" value="Search" class="btn btn-primary btn-lg" id="submit-id-save">
                                                </div>
                                            </div>
                                            <!-- end -->
                                        </div>
                                        <div class="col-sm-12 col-lg-3">

                                        </div>

                                    </form>
                                    <BR>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12" >
                                        <table id='application-table' class="table table-striped table-bordered table-condensed" >
                                            <thead>
                                                <tr>
                                                    <th>Lodgement no.</th>
                                                    <th>Type</th>
                                                    <th>Title</th>
                                                    <th>Applicant</th>
                                                    <th>Company</th>
                                                    <th>Status</th>
                                                    <th>Lodged on</th>
                                                    <th>Assignee</th>
                                                    <th>Payment status</th>
                                                    <th>Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for app_obj in app_list %}
                                                <tr>
                                                    <td><a href="">WO-{{ app_obj.app.pk }}</a></td>

                                                    <td>{{ app_obj.app.get_app_type_display }}</td>
                                                    <td>{{ app_obj.app.title }}</td>
                                                    <td>{{ app_obj.app.applicant.get_full_name }}</td>
                                                    <td>{{ app_obj.app.organisation }}</td>
                                                    <td>{{ app_obj.app.get_state_display }}</td>
                                                    <td>{{ app_obj.app.submit_date|date:"d-M-Y" }}</td>
                                                    <td>{{ app_obj.app.assignee.get_full_name }}</td>
                                                    <td></td>
                                                    <td>
                                                        <ul class="nav navbar-nav">
                                                            <li class="dropdown">
                                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">Actions<span class="caret"></span></a>
                                                                <ul class="dropdown-menu" role="menu">
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>



                        {% endif %}
                        <p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
