
{% block page_content_inner %}
<h1>Confirm Feecback Publication Delete</h1>
<form action="" method="post" id='id_form_modals'>
    {% csrf_token %}
	<p>Are you sure that you want to delete Feedback Publication "{{ object.date }} for {{ object.newspaper }}"?</p>
    <input type="submit" name="confirm" value="Confirm" class="btn btn-primary btn-lg btn-danger ajax-submit" id="submit-id-confirm">
    <input type="submit" name="cancel" value="Cancel" class="btn btn-primary ajax-close" id="submit-id-cancel">
</form>
{% endblock %}
