{% extends "base_statdev.html" %}

{% block page_content_inner %}

<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="title_heading">
        <h3 class="panel-title">
            <a role="button" data-toggle="collapse" href="#search_person_company_collapse" aria-expanded="false" aria-controls="search_person_company_collapse">
                <span class="glyphicon glyphicon-plus"></span>
                Search Keyword {{ app_type_checkboxes.applications }}
            </a>
        </h3>
    </div>

    <div class="panel-collapse collapse in" id="search_keyword_collapse" role="tabpanel" aria-labelledby="search_keyword_heading">
        <div class="panel-body">
            <!-- Search bar -->
            <form action="" method="get">
                <div class="row">
                    <div class="hidden-xs col-sm-1">
                        <label for="search_field">Filter:</label>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-11 col-lg-11">
                        {% for applist in APP_TYPES %}
                                <input type='checkbox'  name='filter-{{ applist.key }}' id='filter-{{ applist.key }}'
                            {% if applist.key == 'applications' %}
                                {{ app_type_checkboxes.applications }}
                            {% elif applist.key == 'approvals' %}
                                {{ app_type_checkboxes.approvals }}
                            {% elif applist.key == 'emergency' %}
                                {{ app_type_checkboxes.emergency }}
                            {% elif applist.key == 'compliance' %}
                                {{ app_type_checkboxes.compliance }}
                            {% endif %}
                         > {{ applist.value }} 
                        {% endfor %}
                    </div>
                </div>
                <div class="row">
                    <div class="hidden-xs col-sm-1">
                        <label for="search_field">Search:</label>
                    </div>
                    <div class="col-xs-12 col-sm-11 col-md-8">
                        <input id="search_field" type="text" class="form-control" name="q" placeholder="Search..." value="{{ query_string }}">
                    </div>
                    <div class="col-xs-12 col-sm-11 col-md-8">
                        <span></span>
                    </div>
                </div>
            </form>
            <hr>

        <table id='search-keyword-table' class="table table-striped table-bordered table-condensed">
            <thead>
                <tr>
                    <th>Number</th>
                    <th>Type</th>
                    <th>Related Party</th>
                    <th>Text Found</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>

                {% for row_obj in apps_list %}
                <tr>
                    <td>
                            {% if row_obj.row.app_group == 'application' %}
                                <A href="{% url 'application_detail' row_obj.row.pk %}">WP-{{ row_obj.row.pk }}</A>
                            {% elif row_obj.row.app_group == 'approval' %}
                                <A href="{% url 'approval_detail' row_obj.row.pk %}">AP-{{ row_obj.row.pk }}</A>
                            {% elif row_obj.row.app_group == 'emergency' %}
                                <A href="{% url 'application_detail' row_obj.row.pk %}">EW-{{ row_obj.row.pk }}</A>
                            {% elif row_obj.row.app_group == 'compliance' %}
                            	<A href="{% url 'compliance_approval_detail' row_obj.row.approval_id %}">CO-{{ row_obj.row.approval_id }}/{{ row_obj.row.id }}</A>
                            {% endif %}
                    </td>
                    <td>{{ row_obj.row.get_app_type_display }}</td>
                    <td>{{ row_obj.row.applicant.first_name }}</td>
                    <td width='40%'>{{ row_obj.row.text_found|safe }}</td>
                    <td>
                            {% if row_obj.row.app_group == 'application' %}
                                <A class="btn btn-primary btn-sm" role="button"  href="{% url 'application_detail' row_obj.row.pk %}">View</A>
                            {% elif row_obj.row.app_group == 'approval' %}
                                <A class="btn btn-primary btn-sm" role="button" href="{% url 'approval_detail' row_obj.row.pk %}">View</A>
                            {% elif row_obj.row.app_group == 'emergency' %}
                                <A class="btn btn-primary btn-sm" role="button" href="{% url 'application_detail' row_obj.row.pk %}">View</A>
                            {% elif row_obj.row.app_group == 'compliance' %}
                            <A class="btn btn-primary btn-sm" role="button" href="{% url 'compliance_approval_detail' row_obj.row.approval_id %}">View</A>
                            {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        </div>
    </div>
</div>

<script>
  function loadTable() {
      $('#search-keyword-table').dataTable({searching: false, paging: true, "pageLength": 10});
  }
  window.onload= function() {
      loadTable();
  }
</script>

{% endblock %}
