{% extends "webtemplate_dpaw/base_internet.html" %}
{% load static from staticfiles %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="//static.dpaw.wa.gov.au/static/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.min.css">
{% endblock %}

{% block navbar_site_title %}<a class="navbar-brand" href="/">Statutory Development</a>{% endblock navbar_site_title %}

{% block navbar_links %}
<li><a href="{% url 'application_list' %}" title="Applications">Applications</a></li>
{#<li><a href="#">Approvals</a></li>#}
{#<li><a href="#">Emergency works</a></li>#}
{#<li><a href="#">Clearance requests</a></li>#}
{#<li><a href="{% url 'organisation_list' %}" title="Companies">Companies</a></li>#}
{% block navbar_auth %}
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{% firstof user.get_full_name user.email %} <span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
        <li><a href="{% url 'user_profile'%}">My personal details</a></li>
        {% if user.is_superuser %}
        <li><a href="{% url 'admin:index' %}" title="Administration">Administration</a></li>
        {% endif %}
        <li><a href="{% url 'logout' %}" title="Log out">Log out</a></li>
    </ul>
</li>
{% endblock navbar_auth %}
{% endblock navbar_links %}

{% block page_content %}
<!-- Messages  -->
{% if messages %}
<div class="row">
    <div class="col-xs-12">
        {% for message in messages %}
        <div class="alert{% if message.tags %} alert-{{ message.tags }}{% endif %}">
            {{ message|safe }}
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}

<div class="row">
    <div class="col-xs-12">
        {% block page_content_inner %}{% endblock %}
    </div>
</div>
{% endblock page_content %}

{% block page_footer %}
<div id="footer">
    <div class="container-fluid">
        <hr>
        <div class="row">
            <div class="col-xs-9 text-muted">
                <small>v{{ project_version }} &copy; Department of Parks and Wildlife</small>
            </div>
            <div class="col-xs-3 text-muted text-right">
                {% if object.routeid %}
                <small> Form Step: {{ object.routeid }} </small>
                {% endif %}
            </div>

        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="//static.dpaw.wa.gov.au/static/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>
<script>
    $(function() {
        // Initialise datepicker widgets.
        $(".dateinput").datepicker({
            format: 'dd/mm/yyyy',
            autoclose: true,
            todayHighlight: true
        });
    });
</script>
{% endblock extra_js %}
