<p>Dear {% if person.title %} {{ person.title }} {% endif %} {{ person.last_name }}</p>

<p>DETERMINATION – {{ app.location }} – {{ app.title }} – {% include "email/applicant.template" %}</p>

<p>Please be advised that in accordance with Section 80 of the Swan and Canning Rivers Management Act 2006, the Minister for Environment; Disability Services has considered the Department of Biodiversity, Conservation and Attractions’ (the department’s) final report and has made a decision to approve the application.</p>

<p>Please find attached a copy of the notice of the Minister’s determination. The final report can be downloaded from the department’s website at the following link. </p>

<p>[insert hyperlink]</p>

<p>If you have any queries regarding this matter, please contact [Planning Officer], [Position title], on 9278 0900.  In all correspondence please quote the reference number file number.</p>

{% include "signature.html" %}
