{% extends "base_statdev.html" %}

{% block page_content_inner %}
<div class="row">
    <div class="col-sm-12 col-md-8">
        <h1>{{ object.name }}</h1>
        <p><strong>ABN:</strong> {{ object.abn }}</p>
        <p>
        {% if user_is_delegate %}
            <a class="btn btn-primary" role="button" href="{% url 'organisation_update' object.pk %}">Update details</a>
        {% else %}
            {#<a class="btn btn-primary btn-sm" role="button" href="{% url 'organisation_request_delegate_access' obj.pk %}">Request delegate access<a/>#}
        {% endif %}
        </p>

        <div class="table-responsive">
            <table class="table table-striped table-bordered table-condensed">
                <tbody>
                    <tr>
                        <th>Postal address</th>
                        <td>{{ object.postal_address }}</td>
                        {% if user_is_delegate %}
                        <td>
                        {% comment %}
                        {% if object.postal_address %}
                            <a class="btn btn-primary btn-sm" role="button" href="{% url 'address_update' object.postal_address.pk %}">Update</a>
                        {% else %}
                            <a class="btn btn-primary btn-sm" role="button" href="{% url 'organisation_address_create' object.pk 'postal' %}">Create</a>
                        {% endif %}
                        {% endcomment %}
                        </td>
                        {% endif %}
                    </tr>
                    <tr>
                        <th>Billing address</th>
                        <td>{{ object.billing_address }}</td>
                        {% if user_is_delegate %}
                        <td>
                        {% comment %}
                        {% if object.billing_address %}
                            <a class="btn btn-primary btn-sm" role="button" href="{% url 'address_update' object.billing_address.pk %}">Update</a>
                        {% else %}
                            <a class="btn btn-primary btn-sm" role="button" href="{% url 'organisation_address_create' object.pk 'billing' %}">Create</a>
                        {% endif %}
                        {% endcomment %}
                        </td>
                        {% endif %}
                    </tr>
                        {% comment %}
                    {% for d in object.delegates.all %}
                    <tr>
                        {% if forloop.first %}<th rowspan="{{ object.delegates.count }}">Delegated users</th>{% endif %}
                        <td>
                            {{ d.emailuser.get_full_name}}
                        </td>
                        {% if user_is_delegate %}
                        <td>
                            <a class="btn btn-danger btn-sm" role="button" href="{% url 'organisation_unlink_delegate' object.pk d.emailuser.pk %}">Unlink</a>
                        </td>
                        {% endif %}
                        <th></th>
                    </tr>
                    {% endfor %}
                        {% endcomment %}
                </tbody>
            </table>
        </div>

        {# TODO: list of applications issued to the organisation #}
    </div>
</div>

{% endblock %}
