{% extends "base_statdev.html" %}
{% load crispy_forms_tags %}

{% block page_content_inner %}
<h1>{{ action }} company</h1>
{% if action == 'Create' %}
<p>Please note that if you are authorised to manage licences, permits or Part 5 applications
on behalf of a company, you can register the company details here.</p>
<p>A certificate of incorporation is required to be unloaded, and will be verified by
Parks and Wildlife staff.</p>
<p><strong>NOTE:</strong> if the company details have already been recorded in this system,
you will be required to request to be linked to that company as a delegate.</p>
{% endif %}
{% crispy form %}
{% endblock %}
